.header, .footer{
    width: 100%;
    height: 20px;
    background-color: antiquewhite;
    color: brown;
}
a:link, a:visited {
    color: brown;
}
.right{
    float: right;
}
a:link.list, a:visited.list{
    color: blue;
}
.errors{
    color: red;
}
#success{
    color: green;
}