.header, .footer{
    width: 100%;
    height: 20px;
    background-color: darkslategrey;
    color: white;
}
a:link, a:visited {
    color: white;
}
.right{
    float: right;
}
a:link.list, a:visited.list{
    color: blue;
}
