
.no-decoration {
    text-decoration: none;
}

.center-align {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.center-align-form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-align-less-width {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.center-align-text {
    text-align: center;
}

.fill-parent-element {
    width: 100%
}

.post {
    border-style: solid;
    border-width: 5px;
    border-color: bisque;
}