{% for todo in todos %} <!-- django template lang - for loop -->
    <li class="taskItem">
        <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}"
               value="{{ todo.id }}">
        <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
        <span class="category-{{ todo.category }}">{{ todo.category }}</span>
        <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}
        </strong>

        <form action="{% url 'todoListDelete' todo.id %}" method="post" style="float:right">
            <a class="btn" href="{% url 'todoListEdit' todo.id %}"><i class="fa fa-edit"></i></a>
            {% csrf_token %} <!-- csrf token for basic security -->
            <button type="submit" class="btn"><i class="fa fa-trash-o icon"></i></button>
        </form>
    </li>
{% endfor %}