{% extends 'products/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1 style="text-align: center">CATEGORIES</h1>
<br>
<div class="card-group">
{% for cat in category_list %}
<div class="col-sm-10 col-md-4 col-lg-3">
      <div class="card shadow-lg" style="background-color: #e0ebeb">
      <h4 style="text-align: center" class="card-title">{{ cat.category_name }}</h4>
      <img style="height: 300px; width: 75%; margin: auto;" class="card-img-top img-thumbnail" src="{{ cat.image_url }}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">
        </p>
        <a href="{% url 'products:category_products' cat.id %}" class="btn btn-primary">Visit Products</a>
      </div>
    </div>
    <br>
</div>
{% endfor %}
</div>

<br>
{% include 'products/pagination.html' %}
<br>

{% endblock %}
