<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Account Settings</a>
            </li>
            <li>
                <a href="#">Change Password</a>
            </li>
        </ul>
    </div>

    <!-- Change Password -->
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-pencil"></i> Change Password </h2>

                    <div class="box-icon">
                        <i class="glyphicon glyphicon-star-empty"></i>
                    </div>
                </div>
                <div class="box-content">

                    <!-- put your content here -->

                    <form role="form">
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" class="form-control" placeholder="Old password" ng-model="user.old_password"/>
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" placeholder="New password" ng-model="user.new_password"/>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Confirm password" ng-model="user.confirm_password"/>
                        </div>

                        <div ng-show="error">
                            <span class="red" ng-bind="error_message"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" ng-click="updatePassword()" class="btn btn-default">Save changes</button>
                            <a class="btn btn-default" href="#/dashboard"> Cancel </a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <!--/row-->
</div>