{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}

{% block content %}
    <div align="center">

        <h2>Login</h2>
        <form method="post" action=".">
            {% csrf_token %}
            <table>
            <tr>
                {% for field in form %}
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}<td>

                    {%if forloop.counter|divisibleby:"2" %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endfor %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p><strong>{{ error|escape }}</strong></p>
                    {% endfor %}
                {% endif %}

            </table>
            <input class="btn btn-default" type="submit" name="submit" value="Login" />
        </form>


        <p> New User? <a href="/user/signup"> Register here. </a></p>
    </div>
{% endblock %}
