{% extends 'base.html' %}
{% load user_detail %}
{% block title %}New Products{% endblock %}

{% block content %}

    <div align="right">
        <form action="/user/logout">
            <a href="{{ request.user.get_absolute_url }}">
                {{ request.user|details|linebreaks}}
            </a>
            <input class="btn btn-default" name="logout" type="submit" id="logout" value="Log out">
        </form>
    </div>

    <div align="center">
        <h2>Enter Your Product Details</h2>
        <form method="post" action=".">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input class="btn btn-default" type="submit" name="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </div>

    <div align="right">
        <p><a href="/user/view_products">View User's Products</a></p>
        <p><a href="/user/view_all_products">View All Products</a></p>
        <p><a href="/user/users_list">View User's List</a></p>
    </div>


{% endblock %}
