{% extends 'base.html' %}
{% load user_detail %}
{% block title %}Product Details{% endblock %}

{% block content %}

    <div align="right">
        <form action="/user/logout">
            <a href="{{ request.user.get_absolute_url }}">
                {{ request.user|details|linebreaks}}
            </a>
            <input class="btn btn-default" name="logout" type="submit" id="logout" value="Log out">
        </form>
    </div>

    <div align="center">
        <h1> Product Detail </h1>

        {% if product %}
            <table >
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Owner's Name</th>
                </tr>
                <tr>
                    <td> {{ product.title }} </td>
                    <td> {{ product.price }} </td>
                    <td> {{ product.description }} </td>
                    <td>
                        <a href="{{ owner.get_absolute_url }}">
                            {{ owner.get_full_name }}
                        </a>
                    </td>
                </tr>
            </table>
        {% else %}
            <p>No items are available.</p>
        {% endif %}
    </div>
{% endblock %}
