{% extends 'base.html' %}
{% load user_detail %}
{% block title %}{{ user }}{% endblock %}

{% block content %}

    <div align="center">
        {% if user %}

            <h1>{{ user.get_full_name }}</h1>
            <p> <strong>First Name: </strong> {{ user.first_name }}</p>
            <p> <strong>Last Name:  </strong>{{ user.last_name }}</p>
            <p> <strong>Username:  </strong>{{ user.username }}</p>
            <p> <strong>Email:  </strong>{{ user.email }}</p>
            {% if user.gender == 'm' %}
                <p> <strong>Gender:  </strong>Male</p>
            {% endif %}
            {% if user.gender == 'f' %}
                <p> <strong>Gender:  </strong>Female</p>
            {% endif %}
            <p> <strong>Birthday:  </strong>{{ user.userprofile.birthday }}</p>
            <p> <strong>Country:  </strong>{{ user.userprofile.country }}</p>
            <p> <strong>State:  </strong>{{ user.userprofile.state }}</p>
            <p> <strong>City:  </strong>{{ user.userprofile.city }}</p>

        {% else %}
            <p>No Details Available</p>
        {% endif %}
    </div>
{% endblock %}
