<!DOCTYPE html>
<html lang="en">
<head>
  <title>product details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
body {
  background-color: lightblue;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-2">
      {% if product%}
        <p><b>Retailer_Sku</b>: {{ product.retailer_sku }}</p><br>
        <p><b>Gender:</b> {{ product.gender }}</p><br>
        <p><b>Brand:</b> {{ product.brand }}</p><br>
        <p><b>URl:</b><a href = {{ product.url }}> {{ product.url }} </a><br>
        <p><b>Name:</b> {{ product.name }}</p><br>
        <p><b>Description:</b> {{ product.description }}</p><br>
        <p><b>Care:</b> {{ product.care }}</p><br>   
        <h4>Image_urls: </h4><br>
  
        {% for img_url in product.image_url %}   
          <img src={{ img_url }} alt="img url" style="width:500px;height:600px;" >
        {% endfor%}  

    {% endif%}
    </div>
    <div class="col-2">
      {% if skus%}
            <ul>
                <table style="width:100%">
                <tr>
                    <th>Sku_id</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Currency</th>
                    <th>Name</th>
                </tr>
                {% for sku in skus %}

                <tr>
                    <td>{{ sku.sku_id }}</td>
                    <td>{{ sku.size }}</td>
                    <td>{{ sku.color }}</td>
                    <td>{{ sku.currency }}</td>
                    <td>{{ sku.price }}</td>
                </tr>
                
                {% endfor %}
                </table>
            </ul>     
    {% endif%}
    </div>
  </div>
</div>
