<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Sign In</h1>
        {% block content %}

            {% if form.errors %}
                <div class="alert alert-danger">
                    Your username and password didn't match. Please try again.
                </div>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="well">
                    <label> {{ form.username.label_tag }}</label>
                    <input id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
                           class="form-control" placeholder="Enter Username"/>

                </div>
                <div class="well">
                    <label> {{ form.password.label_tag }}</label>
                    <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"
                           class="form-control" placeholder="Enter Password">
                </div>
                <div>
                    <input type="submit" class="btn btn-info" value="Sign In">
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        {% endblock %}
    </div>
</div>
</body>
</html>
