{% extends 'books/base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Sign Up</h1>
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}

        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="well">
                <label> Username</label>
                <input id="username" name="username"
                       class="form-control" placeholder="Enter Username"/>
            </div>
            <div class="well">
                <label> Passoword</label>
                <input type="password" id="password" name="password"
                       class="form-control" placeholder="Enter Password">
            </div>
            <div>
                <input type="submit" class="btn btn-info" value="Sign Up">
            </div>
        </form>
    </div>
{% endblock %}