{% extends "instagram/base.html" %}
{% block title %}Newsfeed{% endblock %}
{% block navbar_links %}
    <a href="{% url 'search' %}">Search</a>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
{% block contents %}
    <h1>Welcome, {{ user.username }}</h1>
    {% if user.avatar %}
        <img id="avatar" src="{{ user.avatar.url }}" alt="My image" width="240"/>
    {% endif %}
    <p><a href="{% url 'followers' user.pk %}">{{ followers.count }}</a> Follower{{ followers|pluralize }}</p>
    <p><a href="{% url 'following' user.pk %}">{{ following.count }}</a> Following</p>
{% endblock %}