<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
{#    <h1>Welcome, {{ user.avatar }}</h1>#}
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="My image" width="240"/>
    {% endif %}
{#    <img src="/insta/instagram/avatars/{{ user.avatar }}">#}
    <p>{{ followers.count }} Follower{{ followers|pluralize }}</p>
    <p>{{ following.count }} Following</p>
    <a href="{% url 'search' %}">Search</a>
    <a href="{% url 'logout' %}">Logout</a>
{#    <img src.>#}
{#    {% url 'instagram:logout' %}#}
</body>
</html>
