<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
</head>
<body>
    {% if user %}
{#        {% for u in user %}#}
            <h1>{{ user.username }} </h1>
            <p>{{ followers.count }} Follower{{ followers|pluralize }}</p>
            <p>{{ following.count }} Following</p>
            {% if not logged_in_profile and not already_followed %}
                <form action="{% url 'follow' user.pk %}" method="POST">
                    <input id="submit" type="button" value="Follow" />
                </form>
            {% elif not logged_in_profile and already_followed %}
                <form action="{% url 'unfollow' user.pk %}" method="POST">
                    <input id="submit" type="button" value="Unfollow" />
                </form>
            {% endif %}

{#        {% endfor %}#}
        <h1>HI :3</h1>
{#    {% elif errors %}#}
{#        {% for error %}#}
    {% endif %}
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
{#        <p style="color: red;">Please submit a search term</p>#}
    {% endif %}
</body>
</html>