{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
<div class="container">
    <br>
    <ul>
        {% if is_following %}
            <label class="btn btn-primary" style="width: 24%" >Following</label>
        {% else %}
            <a class="btn btn-primary" style="width: 24%" href='{% url 'myfacebook:follow' user.id %}'>Follow</a>
        {% endif %}
        <a class="btn btn-primary" style="width: 24%" href="{% url 'myfacebook:profile' %}"> My Profile </a>
    </ul>


    <h3>{{ user.username }}</h3><br>
    <div style="width:50%">
        <label>{{ message }}</label>
        {% for status in statuses %}
            <li style="font-size: 1.5em">
                {{ status.status_text }}
            </li>
        {% endfor %}
    </div>
</div>