<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wheels | Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#    <link rel="stylesheet" href="./static/stylefile.css">#}

    <style>
        * {
          box-sizing: border-box;
        }

        body {
          font: 16px Arial;
        }

        .autocomplete {
          position: relative;
          display: inline-block;
        }

        input {
          border: 1px solid transparent;
          background-color: #f1f1f1;
          padding: 10px;
          font-size: 16px;
        }

        input[type=text] {
          background-color: #f1f1f1;
          width: 100%;
        }

        input[type=submit] {
          background-color: DodgerBlue;
          color: #fff;
          cursor: pointer;
        }

        .autocomplete-items {
          position: absolute;
          border: 1px solid #d4d4d4;
          border-bottom: none;
          border-top: none;
          z-index: 99;
          top: 100%;
          left: 0;
          right: 0;
        }

        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff;
          border-bottom: 1px solid #d4d4d4;
        }

        .autocomplete-items div:hover {
          background-color: #e9e9e9;
        }

        .autocomplete-active {
          background-color: DodgerBlue !important;
          color: #ffffff;
        }
    </style>
</head>
<body>
<!--    <div id="data_in"></div>-->
    <button class="btn btn-outline-primary" type="button" onclick="showData()">Show Data</button>
    <button class="btn btn-outline-info" type="button" onclick="hideData()">Hide Data</button>

    <div class="autocomplete" style="width:300px;">
        <input type="text" placeholder="Make" maxlength="10" id="makeValue">
    </div>
    <div class="autocomplete" style="width:300px;">
         <input type="text" placeholder="Model" id="modelValue">
    </div>
    <div class="autocomplete" style="width:300px;">
        <input type="text" placeholder="City" maxlength="10" id="cityValue">
    </div>
    <div class="autocomplete" style="width:300px;">
         <input type="number" max="2020" min="1970" placeholder="Year" id="yearValue">
    </div>
    <button class="btn btn-outline-dark" type="button" onclick="filterData()">Filter</button>

    <table class="table table-bordered" >
      <thead class="thead-dark">
        <tr>
          <th>Make</th>
          <th>Model</th>
          <th>Year</th>
          <th>Millage</th>
          <th>Transmission</th>
          <th>Register City</th>
          <th>Assembly</th>
          <th>Body Type</th>
          <th>Engine Type</th>
          <th>Engine Capacity</th>
          <th>Features</th>
          <th>Description</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody id="data_in" class="collapse show">
        <!-- Data from JS will be added here       -->
      </tbody>
    </table>

<script type="text/javascript">
        let all_wheels = [
            {% for car in wheels %}
            wheel = [
                make = "{{ car.make }}",
                carmodel = "{{ car.carmodel }}",
                year = "{{ car.year }}",
                millage = "{{ car.millage }}",
                transmission = "{{ car.transmission }}",
                reg_city = "{{ car.reg_city }}",
                assembly = "{{ car.assembly }}",
                body_type = "{{ car.body_type }}",
                engine_type = "{{ car.engine_type }}",
                engine_capacity = "{{ car.engine_capacity }}",
                features = "{{ car.features }}",
                description = "{{ car.description }}",
                image_url = "{{ car.image }}",
                id = {{ car.id }},
            ],
            {% endfor %}
        ];
        let is_data_populated = false;
        let total_rows = all_wheels.length;

        function showData()
        {
            if(!is_data_populated)
            {
                document.getElementById("data_in").style.visibility = "visible";
                let table_element = document.getElementById('data_in');
                for(let i=0; i < all_wheels.length ;i++)
                {
                    table_element.innerHTML += "<tr id=row"+ i + ">"+
                                        "<td id=make"+ i +">" + all_wheels[i][0] + "</td>" + // make
                                        "<td id=model" + i + ">" + all_wheels[i][1] + "</td>" + // model
                                        "<td id=year" + i + ">" + all_wheels[i][2] + "</td>" + // year
                                        "<td>" + all_wheels[i][3] + "</td>" + // millage
                                        "<td>" + all_wheels[i][4] + "</td>" + // transmission
                                        "<td id=city"+ i +">" + all_wheels[i][5] + "</td>" + // register city
                                        "<td>" + all_wheels[i][6] + "</td>" + // assembly
                                        "<td>" + all_wheels[i][7] + "</td>" + // body type
                                        "<td>" + all_wheels[i][8] + "</td>" + // engine type
                                        "<td>" + all_wheels[i][9] + "</td>" + // engine capacity
                                        "<td>" + all_wheels[i][10] + "</td>" + //features
                                        "<td>" + all_wheels[i][11] + "</td>" + // description
                                        "<td><a href='" + all_wheels[i][12] + "' target='_blank'>Image Link</a></td>" +
                                      "</tr>";
                }
                is_data_populated = true;
            }
            else{
                document.getElementById("data_in").style.visibility = "visible";
            }
        }

        function hideData()
        {
            document.getElementById("data_in").style.visibility = "hidden";
        }

        function checkNullAndCompare(val1, val2)
        {
            if(val1 !== ""){
                if(val1 !== val2){
                    return true;
                }
                return false;
            }
            return false;
        }

        function filterData()
        {
            let year = document.getElementById('yearValue').value;
            let city = document.getElementById('cityValue').value;
            let make = document.getElementById('makeValue').value;
            let model_var = document.getElementById('modelValue').value;

            for(let i=0; i < total_rows; ++i)
            {
                let row_visibility = true;
                if(checkNullAndCompare(year, document.getElementById('year' + i).innerHTML)
                    || checkNullAndCompare(city, document.getElementById('city' + i).innerHTML)
                    || checkNullAndCompare(model_var, document.getElementById('model' + i).innerHTML)
                    || checkNullAndCompare(make, document.getElementById('make' + i).innerHTML))
                {
                    document.getElementById('row'+i).style.visibility = "collapse";
                    {#console.log(document.getElementById('year'+i).innerHTML + ' <--> ' + year)#}
                    row_visibility = false;
                }

                if(row_visibility)
                    document.getElementById('row'+i).style.visibility = "visible";
            }
        }

    function autocomplete(inp, arr)
    {
      let currentFocus;
      inp.addEventListener("input", function(e)
      {
          let list_ele, in_tag_val, i, val = this.value;
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          list_ele = document.createElement("DIV");
          list_ele.setAttribute("id", this.id + "autocomplete-list");
          list_ele.setAttribute("class", "autocomplete-items");
          this.parentNode.appendChild(list_ele);
          for (i = 0; i < arr.length; i++) {
            if (arr[i].substr(0, val.length).toUpperCase() === val.toUpperCase()) {

              in_tag_val = document.createElement("DIV");

              in_tag_val.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              in_tag_val.innerHTML += arr[i].substr(val.length);
              in_tag_val.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";

              in_tag_val.addEventListener("click", function(e) {

                  inp.value = this.getElementsByTagName("input")[0].value;
                  closeAllLists();
              });
              list_ele.appendChild(in_tag_val);
            }
          }
      });

      inp.addEventListener("keydown", function(e)
      {
          let x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode === 40) {


            currentFocus++;

            addActive(x);
          } else if (e.keyCode === 38) { //up


            currentFocus--;
            addActive(x);
          } else if (e.keyCode === 13) {
            e.preventDefault();
            if (currentFocus > -1) {
              if (x) x[currentFocus].click();
            }
          }
      });

      function addActive(x)
      {

        if (!x) return false;
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        x[currentFocus].classList.add("autocomplete-active");
      }

      function removeActive(x)
      {

        for (let i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }

      function closeAllLists(elmnt)
      {

        let x = document.getElementsByClassName("autocomplete-items");
        for (let i = 0; i < x.length; i++) {
          if (elmnt !== x[i] && elmnt !== inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      document.addEventListener("click", function (e)
      {
          closeAllLists(e.target);
      });
    }
        let cities = new Set();
        let makes = new Set();
        let models = new Set();
        {% for car in wheels %}
        cities.add("{{ car.reg_city }}");
        makes.add("{{ car.make }}");
        models.add("{{ car.carmodel }}");
        {% endfor %}

        cities = [...cities];
        makes = [...makes];
        models = [...models];

        autocomplete(document.getElementById("cityValue"), cities);
        autocomplete(document.getElementById("makeValue"), makes);
        autocomplete(document.getElementById("modelValue"), models);
</script>

</body>
</html>
