<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wheels | Index</title>

    {% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static "css/bootstrap.min.css" %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static "style.css" %}" />

</head>
<body background= "{% static 'images/honey-comb-bg.jpg' %}">

    <a href="{% url 'usedcars:table' %}" target="_blank"><button class="btn btn-info" type="button" >Show in table</button></a>

<!-- ******************************************************************************************** -->
<hr>
<div class="container">
	<div class="row">
		<div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Subaru" target="_blank">
                  <img class="card-img" src="{% static 'images/subaru-logo.png' %}" alt="Card image" style="width:150px;height:150px;">
                </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Chevrolet" target="_blank">
                  <img class="card-img" src="{% static 'images/chevrolet-logo.png' %}" alt="Card image" style="width:150px;height:150px;">
                </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Mazda" target="_blank">
                  <img class="card-img" src="{% static 'images/mazda-logo.png' %}" alt="Card image" style="width:150px;height:150px;">
                </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Hyundai" target="_blank">
                  <img class="card-img" src="{% static 'images/hyundai-logo.png' %}" alt="Card image" style="width:150px;height:150px;">
                </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Mitsubishi" target="_blank">
                  <img class="card-img" src="{% static 'images/mitsubishi-logo.png' %}" alt="Card image" style="width:150px;height:150px;">
                  </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Toyota" target="_blank">
                  <img class="card-img" src="{% static 'images/toyota-logo.png' %}" alt="Card image" style="width:150px;height:150px;">
                </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Audi" target="_blank">
                  <img class="card-img" src="{% static 'images/audi-logo.png' %}" alt="Card image" style="width:200px;height:150px;">
              </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Honda" target="_blank">
                  <img class="card-img" src="{% static 'images/honda-logo.png' %}" alt="Card image" style="width:150px;height:150px;">
                </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="FAW" target="_blank">
                  <img class="card-img" src="{% static 'images/faw-logo.png' %}" alt="Card image" style="width:200px;height:150px;">
              </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Nissan" target="_blank">
                  <img class="card-img" src="{% static 'images/nissan-logo.png' %}" alt="Card image" style="width:150px;height:150px;">
              </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Suzuki" target="_blank">
                  <img class="card-img" src="{% static 'images/suzuki-logo.png' %}" alt="Card image" style="width:150px;height:150px;">
              </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Daihatsu" target="_blank">
                  <img class="card-img" src="{% static 'images/daihatsu-logo.png' %}" alt="Card image" style="width:200px;height:150px;">
              </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="BMW" target="_blank">
                  <img class="card-img" src="{% static 'images/bmw-logo.png' %}" alt="Card image" style="width:200px;height:150px;">
              </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="KIA" target="_blank">
                  <img class="card-img" src="{% static 'images/kia-logo.png' %}" alt="Card image" style="width:200px;height:150px;">
              </a>
				</div>
			</div>
		</div>

        <div class="col-xs-18 col-sm-4 col-md-3">
			<div class="productbox">
				<div class="imgthumb img-responsive">
					<a href="Mercedes Benz" target="_blank">
                  <img class="card-img" src="{% static 'images/mercedes-logo.png' %}" alt="Card image" style="width:200px;height:150px;">
              </a>
				</div>
			</div>
		</div>



	</div><!--/row-->
</div><!--/container -->

</body>
</html>
