
.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.heading{
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px
}

.description{
    font-family: 'EB Garamond', serif;
}

.buttons{
    font-family: 'Comfortaa', cursive;
}