<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<center>
    <p>
        Logged In User : {{user.username}}
    </p>
</center>

{% if employee.feedbacks.count %}
<center>
    <p>Comments sent to <span style="font-size:20px">{{employee.username|title}}</span> by You</p>
    <table>
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Comments</th>
            <th>Team Work</th>
            <th>Leadership</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for feedback in employee.feedbacks.all%}
        {% if feedback.from_user == user %}
        <tr>
            <td>{{feedback.publishing_date}}</td>
            <td>{{feedback.from_user.username}}</td>
            <td>{{feedback.to_user.username}}</td>
            {% for competency in feedback.competency_set.all %}
            <td>{{competency.comment}}</td>
            <td>{{competency.team_work}}</td>
            <td>{{competency.leadership}}</td>
            <td><a href="{% url 'appraisal:edit_feedback' feedback.id %}">Edit</a></td>
            <td><a href="{% url 'appraisal:delete_feedback' feedback.id %}">Delete</a></td>

            {% endfor %}
        </tr>
        {%endif%}
        {% endfor %}

    </table>
</center>
{% endif %}


<center>
    <h3>You can give feedback here</h3>
    <form method="POST" action="{% url 'appraisal:send_feedback' employee.id %}">
        {% csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
</center>


</body>
</html>