<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<center>
    <p>
        Logged In User : {{user.username|title}}
    </p>
</center>

<center>
    <h2>Welcome {{user.username|title}}</h2>
    <h3>Glad to have you here</h3>
</center>

<aside>
    <ul>
        <li><a href="{% url 'appraisal:employees'%}"> View Employees Working Under You</a></li>
        <li><a href="{% url 'appraisal:edit_profile'%}"> Edit Your Details</a></li>
        <li><a href="{% url 'appraisal:logout'%}"> Log-Out</a></li>
    </ul>
</aside>

<center>
    {% if user.feedbacks.count %}
    <h4>Feedbacks Given To You Are These</h4>

    <table>
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Comments</th>
            <th>Team Work</th>
            <th>Leadership</th>
        </tr>

        {% for feedback in user.feedbacks.all %}
        <tr>
            <td>{{feedback.publishing_date}}</td>
            <td>{{feedback.from_user.username}}</td>
            <td>{{feedback.to_user.username}}</td>
            {% for competency in feedback.competency_set.all%}
            <td>{{competency.comment}}</td>
            <td>{{competency.team_work}}</td>
            <td>{{competency.leadership}}</td>

            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    {%endif%}
</center>

</body>
</html>