<!DOCTYPE html>
{% extends "UserRegistration/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} User Profile {% endblock %}</title>
</head>
<body>
{% block logo %}{% endblock %}
{% block content %}
    {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" height="250">
    {% endif %}
    <p><b>Username: </b> {{ user.username }}</p>
    <b>Full Name:</b> {{ user.first_name }} {{ user.last_name }}
    <p><a href="{% url 'users:logout' %}">Logout</a></p>
    <p><a href="{% url 'users:update' %}">Update</a></p>
    <p><a href="{% url 'users:change_password' %}">Change Password</a></p>
    {% if not user.is_superuser %}
        <p><a href="{% url 'users:tasks' %}">Show My Tasks</a></p>
    {% else %}
        <p><a href="{% url 'users:tasks' %}">Show All Tasks</a></p>
    {% endif %}
    {% if not user.is_superuser %}
        <p><a href="{% url 'users:show_all_task' %}">List All Tasks</a></p>
    {% endif %}
{% endblock %}
{% block form_to_submit %}{% endblock %}
</body>
</html>