



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea

#Project Files
twitter/db.sqlite3
poll_site/db.sqlite3



dawn_scraper/dawn_scraper/__init__.py
dawn_scraper/dawn_scraper/middlewares.py
dawn_scraper/dawn_scraper/pipelines.py
dawn_scraper/dawn_scraper/settings.py
dawn_scraper/dawn_scraper/spiders/__init__.py
dawn_scraper/news.json
dawn_scraper/scrapy.cfg
kith_scraper/item.jl
kith_scraper/items.jl
kith_scraper/kith_scraper/__init__.py
kith_scraper/kith_scraper/middlewares.py
kith_scraper/kith_scraper/pipelines.py
kith_scraper/kith_scraper/settings.py
kith_scraper/kith_scraper/spiders/__init__.py
kith_scraper/scrapy.cfg
node_modules/
package-lock.json
react-twitter/
todo-app-redux/.gitignore
todo-app-redux/README.md
twitter/media/

