<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <style>
        .center {
            width:fit-content;
            padding: 40px;
            border: 3px dotted rgb(55, 0, 128); 
            margin: 1% auto;
        }
    </style>
  </head>
  <body> 
      <nav>
          <div class="container-fluid" style="background-color: black">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/" style = "color:white"> Admin Panel </a>
              </div>
                <ul class="nav navbar-nav navbar-right">
                  <a class="navbar-brand text-white" href="/logout">Logout</a>
                </ul>
          </div>
      </nav>
      