<% include head %>
<div class="jumbotron text-center">
    
    <h1>Your Profile</h1>
    <br>
    <p> ID: <%= user.id %> </p>
    <p> Username: <%= user.username %> </p>
    <p> Name: <%= user.name %> </p>
    <p> Admin?: <% if (user.admin) { %> Yes <% } else { %> No <% } %> </p>

</div>
