{% extends 'articles/base.html' %}
{% load static %}
{% load materializecss %}

{% block imports %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
        integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
        integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
    integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
Add Article | 
{% endblock %}

{% block navbarbutton %}
<ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
<li><a class="dropdown-trigger" id="heading-text" href="#!" data-target="dropdown1">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
{% endblock %}

{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
    integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        $('select').formSelect();
        $(function () {
            $("#id_publish_time").datetimepicker({
                format: 'Y-m-d H:i',
            });
            $("#id_publish_time").attr("autocomplete", "off")
        });
    });
</script>

{% endblock javascript %}

{% block container %}
<br><br>
<h4>Add a new article to the collection</h4>
<div class="row">
    <form class="col s12" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                {{ form.title|materializecss }}
                {% if form.title.errors %}
                {{ form.title.errors }}
                {% endif %}
            </div>
            <div class="input-field col s6">
                {{ form.category|materializecss }}
                {% if form.category.errors %}
                {{ form.category.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                {{ form.authors|materializecss }}
                {% if form.authors.errors %}
                {{ form.authors.errors }}
                {% endif %}
            </div>
            <div class="col s2">
                <br><br>
                <a href="/articles/add-author" class="btn waves-effect waves-light center">New author</a>
            </div>
            <div class="input-field col s4">
                {{ form.website|materializecss }}
                {% if form.website.errors %}
                {{ form.website.errors }}
                {% endif %}
            </div>
            <div class="col s2">
                <br><br>
                <a href="/articles/add-website" class="btn waves-effect waves-light center">New website</a>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.url|materializecss }}
                {% if form.url.errors %}
                {{ form.url.errors }}
                {% endif %}
            </div>
            <div class="input-field col s6">
                {{ form.image_url|materializecss }}
                {% if form.image_url.errors %}
                {{ form.image_url.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form.content|materializecss }}
                {% if form.content.errors %}
                {{ form.content.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <label class="control-label">Publish date and time</label>
                {{ form.publish_time }}
                {% if form.publish_time.errors %}
                {{ form.publish_time.errors }}
                {% endif %}
            </div>
        </div>
        <center>
            <button type="submit" class="btn waves-effect btn-large btn-success">Submit</button>
        </center>
    </form>
    <br>
</div>
{% endblock %}