{% extends 'articles/base.html' %}
{% load static %}
{% load materializecss %}

{% block imports %}
<link rel="stylesheet" href="{% static 'articles/css/materialize.min.css' %}">
<script src="{% static 'articles/js/jquery-3.4.1.js' %}"></script>
{% endblock %}

{% block title %}
Add Website | 
{% endblock %}

{% block navbarbutton %}
{% if user.is_authenticated %}
<ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
<li><a class="dropdown-trigger" id="heading-text" href="#!" data-target="dropdown1">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
{% else %}
<li><a id="heading-text" href="{% url 'login' %}">Login</a></li>
<li><a id="heading-text" href="/accounts/signup/">Signup</a></li>
{% endif %}
{% endblock %}

{% block container %}
<br><br>
<h4>Add a new website</h4>
<div class="row">
    <form class="col s12" method="post">
        {% csrf_token %}
        <br><br><br>
        <div class="row">
            <div class="col s2"></div>
            <div class="input-field col s8">
                {{ form.name|materializecss }}
                {% if form.name.errors %}
                {{ form.name.errors }}
                {% endif %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col s2"></div>
            <div class="input-field col s8">
                {{ form.url|materializecss }}
                {% if form.url.errors %}
                {{ form.url.errors }}
                {% endif %}
            </div>
        </div>
        <br>
        <center>
            <button type="submit" class="btn waves-effect btn-large btn-success">Submit</button>
        </center>
    </form>
</div>
{% endblock %}