{% load static %}
{% load materializecss %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{% static 'articles/media/icon.png' %}" type="image/gif">
    {% block imports %}
    
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}">
    <script src="{% static 'articles/js/materialize.min.js' %}"></script>
    <script src="{% static 'articles/js/script.js' %}"></script>
    <title>{% block title %}{% endblock %} Readers Haven</title>

</head>

<body>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });

</script>
    <div class="navbar-fixed">
        <nav id="navbar"">
            <div class=" nav-wrapper">
            {% block hamburger %}
            
            {% endblock %}
            <a id="heading-text" href="/" class="brand-logo center">Readers Haven</a>
             <ul class="right hide-on-med-and-down">
                    {% block navbarbutton %}
                    
                    {% endblock %}
                </ul>
            </div>
        </nav>
    </div>
    <ul id="slide-out" class="sidenav">
        <center>
            <h4><a id="heading-text" href="/">Readers Haven</a></h4>
            <br>
            <h5 id="heading-text">Categories</h5>
        </center>
        <br>
        <li><div class="divider"></div></li>
        <br>
        <li><a id="category-text" href="{% url 'articles:category' 'Technology' %}">Technology</a></li>
        <li><a id="category-text" href="{% url 'articles:category' 'Entertainment' %}">Entertainment</a></li>
        <li><a id="category-text" href="{% url 'articles:category' 'Sports' %}">Sports</a></li>
        <li><a id="category-text" href="{% url 'articles:category' 'Education' %}">Education</a></li>
        <li><a id="category-text" href="{% url 'articles:category' 'Business' %}">Business</a></li>
        <li><a id="category-text" href="{% url 'articles:category' 'Science' %}">Science</a></li>
        <li><a id="category-text" href="{% url 'articles:category' 'International' %}">International</a></li>
        <li><a id="category-text" href="{% url 'articles:category' 'Lifestyle' %}">Lifestyle</a></li>
        <li><a id="category-text" href="{% url 'articles:category' 'Miscellaneous' %}">Miscellaneous</a></li>
    </ul>
  
    <div class="container">
    {% block container %}
    
    {% endblock %}
    </div>
</body>

</html>