{% extends 'articles/base.html' %}
{% load static %}
{% load materializecss %}

{% block imports %}
<link rel="stylesheet" href="{% static 'articles/css/materialize.min.css' %}">
<script src="{% static 'articles/js/jquery-3.4.1.js' %}"></script>
{% endblock %}

{% block title %}
{{ article.title }} | 
{% endblock %}

{% block hamburger %}
<a href="#" id="heading-text" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
{% endblock %}

{% block navbarbutton %}
{% if user.is_authenticated %}
<ul id="dropdown1" class="dropdown-content">
    <li><a id="category-text" href="{% url 'logout' %}">Logout</a></li>
</ul>
<li><a class="dropdown-trigger" id="heading-text" href="#!" data-target="dropdown1">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
{% else %}
<li><a id="heading-text" href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
<li><a id="heading-text" href="{% url 'accounts:signup' %}">Signup</a></li>
{% endif %}
{% endblock %}

{% block container %}
<img style="width:1050px;height:500px" class="materialboxed" src="{{ article.image_url }}" alt="Image">

<br><br>
<h3>{{ article.title }}</h3>
<h6>By
    {% for author in article.authors.all %}
    <span id="author-name">{{ author.full_name }} &nbsp;&nbsp;&nbsp;</span>
    {% endfor %}
</h6>
<h6>{{ article.publish_time }}</h6>
<p style="text-align:justify">{{ article.content }}</p>
<br><br>
<hr>
<h4>Comments</h4>
<br>
{% if user.is_authenticated %}
<div class="row">
    <div class="col s6">
        <form  method="post">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user.id }}">
            <input type="hidden" name="article" value="{{ article.id }}">
            <div class="row">
                <input type="text" name="comment_text" autocomplete="off" placeholder="Add comment...">
            </div>
            <input type="submit" class="btn" value="Post">
        </form>
    </div>
</div>
<br>
{% else %}
<h6>To add a comment, you have to <span><a href="{% url 'login' %}?next={{ request.path }}">Login</a></span></h6>
<br>
{% endif %}
{% for comment in article.article_comments.all %}
<div class="row">
    <div style="border: outset" class="col s10">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s6">
                <h6 style="color: rgb(8, 125, 235)">{{ comment.user }} <span style="font-size: 15px; font-style: italic; opacity: 0.7; color: black" class="right">{{ comment.publish_time }}</span> </h6>
                <p>{{ comment.comment_text }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<br>
<br>
{% endblock %}