<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h1>Authors</h1>
<br>
<a href="{% url 'books:author_form' %}" class="button">Add New Author</a>
<table border="1">
    <tr>
        <th>First Name</th>
        <th>First Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Email</th>
        <th>City</th>
        <th>Country</th>
        <th>Books</th>
    </tr>
    {% for author in authors_list %}
        <tr>
            <td align="center">{{ author.first_name }}</td>
            <td align="center">{{ author.last_name }}</td>
            <td align="center">{{ author.address }}</td>
            <td align="center">{{ author.contact }}</td>
            <td align="center">{{ author.email }}</td>
            <td align="center">{{ author.city }}</td>
            <td align="center">{{ author.country }}</td>
            <td>
                <ul>
                    {% for book in books_list %}
                        {% for Author in book.authors.all %}
                            {% if Author.id == author.id %}
                                <li><a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </td>
        <tr>
    {% endfor %}
</table>
</body>
</html>
