{% extends 'books/base.html' %}
{% load static %}
{% block title %}Books{% endblock %}
{% block content %}
    <div class="well row">
        <div class="col-sm-9">
            <h2>Books</h2>
        </div>
        <div class="col-sm-3">
            {% include "books/login_template.html" %}
        </div>
    </div>
    <a href="{% url 'books:book_form' %}" class="btn btn-primary "><h4>Add New Book</h4></a>
    <br>
    <br>
    <table class="table table-bordered" width="100%">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Date Published</th>
            <th>Authors</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books_list %}
            <tr id="{{ book.id }}">
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a></td>
                <td>{{ book.genre }}</td>
                <td><a
                        href="{% url 'books:publisher_detail' book.publisher.id %}">{{ book.publisher }}</a>
                </td>
                <td>{{ book.pub_date }}</td>
                <td>
                    <ul>
                        {% for author in book.authors.all %}
                            <li><a href="{% url 'books:author_detail' author.id %}">{{ author }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <button type="button" data-type="book" data-url="{% url 'books:delete_book' %}"
                            data-id="{{ book.id }}" class="btn btn-danger delete">
                        Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
    {% block scripts %}
        <script src="{% static 'books/items.js' %}"></script>
    {% endblock %}
{% endblock %}
