{% extends 'books/base.html' %}
{% block title %}Index {% endblock %}
{% block content %}
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h1>Books Database</h1>
            </div>
            <div class="col-sm-6 login">
                {% include "books/login_template.html" %}
            </div>
        </div>
    </div>
    <div class="well well-lg">
        <a href="{% url 'books:books' %}">Books</a>
    </div>
    <div class="well well-lg">
        <a href="{% url 'books:authors' %}">Authors</a>
    </div>
    <div class="well well-lg">
        <a href="{% url 'books:publishers' %}">Publishers</a>
    </div>
{% endblock %}
