<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
{% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
{% endif %}
<a href="{% url 'books:books' %}">Books</a>
<a href="{% url 'books:authors' %}">Authors</a>
<a href="{% url 'books:publishers' %}">Publishers</a>
</body>
</html>
