<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h1>Books Database</h1>
            </div>
            <div class="col-sm-6">
                {% if user.is_authenticated %}
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="well well-lg">
        <a href="{% url 'books:books' %}">Books</a>
    </div>
    <div class="well well-lg">
        <a href="{% url 'books:authors' %}">Authors</a>
    </div>
    <div class="well well-lg">
        <a href="{% url 'books:publishers' %}">Publishers</a>
    </div>
</div>
</body>
</html>
