{% extends 'books/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="jumbotron row">
        <div class="col-sm-7">
            <h1>{{ user.username }}</h1>
            <h3><strong>First Name: </strong>{{ user.first_name }}</h3>
            <h3><strong>Last Name: </strong>{{ user.last_name }}</h3>
            <h3><strong>Email: </strong>{{ user.email }}</h3>
            <h3><strong>Contact: </strong>{{ user.contact }}</h3>
            <h3><strong>Time Zone: </strong>{{ user.timezone }}</h3>
            <a href="{% url 'books:profile_update' %}"><input type="button" class="btn btn-info"
                                                              value="Update Info"></a>
        </div>
        <div class="col-sm-5">
            {% if user.image %}
                <img id="profile_img" src="/{{ user.image.url }}"/>
            {% endif %}
        </div>
    </div>
{% endblock %}