{% extends 'books/base.html' %}
{% block title %}Publishers{% endblock %}
{% block content %}
    <div class="well row">
        <div class="col-sm-9">
            <h2>Publishers</h2>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'books:publisher_form' %}" class="btn btn-primary "><h3>Add New Publisher</h3></a>
        </div>
    </div>
    <br>
    <br>
    <table class="table table-bordered table-striped" width="100%">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Email</th>
            <th>City</th>
            <th>Country</th>
            <th>Books</th>
        </tr>
        {% for publisher in publisher_list %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ publisher.name }}</td>
                <td>{{ publisher.address }}</td>
                <td>{{ publisher.contact }}</td>
                <td>{{ publisher.email }}</td>
                <td>{{ publisher.city }}</td>
                <td>{{ publisher.country }}</td>
                <td>
                    <ul>
                        {% for book in books_list %}
                            {% if book.publisher.id == publisher.id %}
                                <li><a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </td>
            <tr>
        {% endfor %}
    </table>
{% endblock %}