{% extends 'books/base.html' %}
{% load static %}
{% block title %}Publishers{% endblock %}
{% block content %}
    <div class="well row">
        <div class="col-sm-9">
            <h2>Publishers</h2>
        </div>
        <div class="col-sm-3">
            {% include "books/login_template.html" %}
        </div>
    </div>
    <a href="{% url 'books:publisher_form' %}" class="btn btn-primary "><h4>Add New Publisher</h4></a>
    <br>
    <br>
    <table class="table table-bordered table-striped" width="100%">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Email</th>
            <th>City</th>
            <th>Country</th>
            <th>Books</th>
            <th>Action</th>
        </tr>
        {% for publisher in publisher_list %}
            <tr id="{{ publisher.id }}">
                <th>{{ forloop.counter }}</th>
                <td>{{ publisher.name }}</td>
                <td>{{ publisher.address }}</td>
                <td>{{ publisher.contact }}</td>
                <td>{{ publisher.email }}</td>
                <td>{{ publisher.city }}</td>
                <td>{{ publisher.country }}</td>
                <td>
                    <ul>
                        {% for book in books_list %}
                            {% if book.publisher.id == publisher.id %}
                                <li><a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <button type="button" data-type="publisher" data-id="{{ publisher.id }}"
                            data-url="{% url 'books:delete_publisher' %}"
                            class="btn btn-danger delete">Delete
                    </button>
                </td>
            <tr>
        {% endfor %}
    </table>




    {% block scripts %}
        <script src="{% static 'books/items.js' %}"></script>
    {% endblock %}
{% endblock %}
