<style>
    dd, dt {
        margin-top: 7px;;
    }
</style>

<div ng-controller="FillingCtrl">
    <ol class="breadcrumb">
        <li><a href="#">DocketDash</a></li>
        <li class="active">{{navigation}}</li>
    </ol>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">{{docket.filings[0].description}}</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Parent Docket</dt>
                    <dd>{{docket.title}}</dd>

                    <dt>Filed On</dt>
                    <dd>{{docket.filings[0].filed_on}}</dd>

                    <dt>Page count</dt>
                    <dd>{{docket.filings[0].total_pages}}</dd>

                    <dt>Filing Parties</dt>
                    <dd><span ng-repeat="filing_party in docket.filings[0].filing_parties">
                    {{filing_party}}
                </span></dd>

                    <dt>Filing Types</dt>
                    <dd><span ng-repeat="type in docket.filings[0].types">
                    {{type}}
                </span></dd>

                    <dt>Select File</dt>
                    <dd>
                        <ui-select ng-model="selected_document.document" theme="select2" style="min-width: 300px;">
                            <ui-select-match placeholder="Select any document or search it!">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="document in docket.filings[0].documents| propsFilter: {title: $select.search}">
                                <div ng-bind-html="document.title | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </dd>
                    <dt ng-show="selected_document.document">Selected Document</dt>
                    <dd ng-show="selected_document.document">{{selected_document.document.name}} &nbsp;&nbsp;<a
                            class="btn btn-default" target="_blank"
                            href="{{selected_document.document.download_url}}"><i class="fa fa-download"></i></a></dd>
                </dl>
            </div>

            <iframe ng-if="selected_document_url" id="preview-iframe" name="preview-iframe"
                    src="{{selected_document_url}}" style="width: 100%; height: 860px;"></iframe>
        </div>
    </div>
</div>


