{% extends 'base.html' %}

<html lang="en">
  <head>
  <style>
  </style>
  </head>
  {% block content %}
    <div class="jumbotron">
        <b style="font-size:60px; font-family:georgia">Profile</b>
    </div>
    <div style="font-weight:bold;font-family:georgia;font-size:20px;color:blue;">
        {% if user.is_authenticated %}
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>First Name: {{ user.first_name}}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Contact: {{ user.phone_number }}</p>
        <p> Location: {{ user.location }}</p>
        <p> Age: {{ user.age }}</p>
    </div>
        

        <input type="submit" value="Edit Profile" onclick=location.href="{% url 'edit_profile' %}" class="btn btn-primary" />
       
        {% endif %}
  {% endblock %}
    
</html>

