{% extends "training/base.html" %}
{% block title %}Training Site{% endblock %}
{% block content %}
{% if assignment %}
    <h2>
      Title : {{assignment.title}}
    </h2>

  {% if assignment.description %}
      <h3>
        Description :
      </h3>
      <p>{{ assignment.description }}</p>
  {% else %}
      <p>No Description.</p>
  {% endif %}

  {% if assignment.completion_status %}
      <h3> Assignment Completed </h3>
  {% else %}
      <h3> Assignment Not Completed Yet </h3>
  {% endif %}

  {% if assignment.technology_used %}
    <h3> Technology : </h3>
    {{technology_url}}
    <a href="{% url 'technology_details' assignment.technology_used.id %}">
      {{ assignment.technology_used }}
    </a>
  {% else %}
      <p>No Technology.</p>
  {% endif %}

{% else %}
    <p>No Trainers/Trainees are available.</p>
{% endif %}
{% endblock %}
