{% extends "training/base.html" %}
{% block title %}Training Site{% endblock %}
{% block content %}
{% if user_name %}
    <h2>Welcome : {{user_name}}</h2>
{% endif %}
<img src="{{ image_url }}" alt="{{trainee.name}}" width="200" height="200"/>
<h2>Status : {{ status }}</h2>
{% if status == 'Trainee' %}
    <h2>
      Trainer Assigned :
      <a href="{% url 'training:trainer_details' user.trainee.trainer.id %}">
        {{ user.trainee.trainer }}
      </a>
    </h2>
{% elif status == 'Trainer' %}
    {{ user.trainer.trainees }}
{% endif %}
<h2>All Trainers:</h2>
{% if trainers %}
    <ul>
    {% for trainer in trainers %}
        <li>
          <a href="{% url 'training:trainer_details' trainer.id %}">
              {{trainer.user.user_profile.name}}
          </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Trainers/Trainees are available.</p>
{% endif %}
{% endblock %}
