{% extends "training/base.html" %}
{% block title %}Training Site{% endblock %}
{% block content %}
{% if user_name %}
    <h1>Welcome : {{user_name}}</h1>
{% endif %}
{% if trainees_list %}
    <ul>
    {% for trainee in trainees_list %}
        <li>
          <a href="{% url 'training:trainer_details' trainee.trainer.id %}">
              {{trainee.trainer.user.user_profile.name}}
          </a>:
          <a href="{% url 'training:trainee_details' trainee.id %}">
              {{trainee.user.user_profile.name}}
          </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Trainers/Trainees are available.</p>
{% endif %}
{% endblock %}
