{% extends "training/base.html" %}
{% block title %}Training Site{% endblock %}
{% block content %}
{% if trainer %}
  <img src="{{ image_url }}" alt="{{trainer.name}}" width="200" height="220">
  <h2>
    Name : {{trainer.name}}
  </h2>
  {% if trainee %}
    <h2>
      Trainee Assigned :
    </h2>
      <a href="{% url 'trainee_details' trainee.id %}">{{ trainee.name }}</a>
  {% else %}
      <p>No trainees assigned.</p>
  {% endif %}

  {% if assignments %}
    <h2>
      Assignments Alloted :
    </h2>
    <ul>
    {% for assignment in assignments %}
        <li>
          <a href="{% url 'assignment_details' assignment.id %}">
            {{ assignment.title }}
          </a>
        </li>
    {% endfor %}
    </ul>
  {% else %}
      <p>No Assignments are alloted.</p>
  {% endif %}
{% else %}
    <p>No Trainers/Trainees are available.</p>
{% endif %}
{% endblock %}
