{% extends "training/base.html" %}
{% block title %}Training Site{% endblock %}
{% block content %}
{% if trainee %}
  <img src="{{ image_url }}" alt="{{trainee.user.user_profile.name}}" width="200" height="200"/>
  <h2>
    Name : {{trainee.user.user_profile.name}}
  </h2>
  {% if assignments %}
    <h2>
      Assignments Done :
    </h2>
    <ul>
    {% for assignment in assignments %}
        <li>
          <a href="{% url 'training:assignment_details' assignment.id %}">
            {{ assignment.title }}
          </a>
        </li>
    {% endfor %}
    </ul>
  {% else %}
      <p>No Assignments are alloted.</p>
  {% endif %}
{% else %}
    <p>No Trainers/Trainees are available.</p>
{% endif %}
{% endblock %}
