{% extends "training/base.html" %}
{% block title %}Training Site{% endblock %}
{% block content %}
{% if user_name %}
    <h1>Welcome : {{user_name}}</h1>
{% endif %}
{% if trainers_list %}
    <ul>
    {% for trainer in trainers_list %}
        <li>
          <a href="{% url 'trainer_details' trainer.id %}">
            {{ trainer.name }}
          </a>:
          <a href="{% url 'trainee_details' trainer.trainee.id %}">
            {{ trainer.trainee.name }}
          </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Trainers/Trainees are available.</p>
{% endif %}
{% endblock %}
