{% extends "training/base.html" %}
{% block title %}Training Site{% endblock %}
{% block content %}
{% if trainer %}
  <img src="{{ image_url }}" alt="{{trainer.user.user_profile.name}}" width="200" height="200">
  <h2>
    Name : {{trainer.user.user_profile.name}}
  </h2>
  {% if trainees %}
    <h2>
        Trainees Assigned :
    </h2>
    <ul>
    {% for trainee in trainees %}
        <li><a href="{% url 'training:trainee_details' trainee.id %}">{{ trainee.user.user_profile.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
      <p>No trainees assigned.</p>
  {% endif %}
{% else %}
    <p>No Trainers/Trainees are available.</p>
{% endif %}
{% endblock %}
