{% extends "web/base.html" %}


{% block title %}Account {% endblock %}

{% block content %}

{#    <h3> Welcome {{ username }} ! </h3>#}
{##}
{#    <br/><br/>#}
{##}
{#    <a class="no-decoration" href="{% url 'profile' %}"> Profile </a>#}
{#    {% filter linebreaks %} {% endfilter %}#}
{#    <a class="no-decoration" href="{% url 'logout' %}"> Logout </a>#}
{#    {% filter linebreaks %} {% endfilter %}#}
{#    <a class="no-decoration" href="{% url 'add_product' %}"> Add Product </a>#}
{#    {% filter linebreaks %} {% endfilter %}#}
{#    <a class="no-decoration" href="{% url 'products' %}"> Products </a>#}
{#    {% filter linebreaks %} {% endfilter %}#}
{#    <a class="no-decoration" href="{% url 'orders' %}"> My Orders </a>#}
{#    {% filter linebreaks %} {% endfilter %}#}
{#    <a class="no-decoration" href="{% url 'sales' %}"> Sales </a>#}
{#    {% filter linebreaks %} {% endfilter %}#}
{#    <a class="no-decoration" href="{% url 'top_five_reserved_products' %}"> Top 5 most ordered products </a>#}
{#    {% filter linebreaks %} {% endfilter %}#}
{#    <a class="no-decoration" href="{% url 'top_five_customers' %}"> Top 5 Customers (who ordered most) </a>#}
{#    {% filter linebreaks %} {% endfilter %}#}
{##}
{##}
{#    <div class="center-align-less-width">#}
{##}
{#        <form action="{% url 'account' %}" method="post">#}
{#            {% csrf_token %}#}
{#            {{ url_form }}#}
{#            <br/><br/>#}
{#            <input type="submit" value="Search"/>#}
{#        </form>#}
{##}
{#    </div>#}

{% endblock %}