{% extends "web/base.html" %}


{% block title %}Change Password {% endblock %}

{% block content %}

    <div class="center-align-less-width">

        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            {{ change_password_form.as_p }}
            <br/><br/>
            <input type="submit" value="Change"/>
        </form>

        <br/>
        <b> {{ msg|default:'' }} </b>
        <br/>

        <a href = "{% url 'account' %}">  Home </a>

    </div>

{% endblock %}