{% extends "web/base.html" %}


{% block title %} eProperty {% endblock %}

{% block content %}

    <div id="content" class="col-lg-12 col-sm-12">
        <!-- content starts -->

        <div class="row">

{#            <!-- customize search starts -->#}
{#            <div class="box col-md-6">#}
{#                <div class="box-inner round-the-corners">#}
{##}
{#                    <div class="box-content">#}
{#                        <!-- put your content here -->#}
{##}
{#                        <div class="form-group">#}
{#                            <h2 class="whitesmoke-dark font-size-smaller"><i class="glyphicon glyphicon-search"></i>#}
{#                                Search the properties that suit you! </h2>#}
{#                        </div>#}
{##}
{#                        <form role="form">#}
{##}
{#                            <div class="form-group">#}
{#                                <label>Location</label>#}
{#                                <input id="autocomplete" class="form-control" placeholder="Choose location or any"#}
{#                                       onFocus="geolocate()" type="text"/>#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                                <input class="field" id="street_number" placeholder="Sreet" disabled="true"/>#}
{#                                <input class="field" id="route"#}
{#                                       disabled="true" placeholder='route'/>#}
{#                                <input class="field" id="locality" placeholder='City' disabled="true"/>#}
{#                                <input class="field" id="administrative_area_level_1" placeholder='State'#}
{#                                       disabled="true"/>#}
{#                                <input class="field" id="postal_code" placeholder='Zip code' disabled="true"/>#}
{#                                <input class="field" id="country" placeholder='Country' disabled="true"/>#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                                <label>Type</label>#}
{#                                <select class="form-control">#}
{#                                    <option>House</option>#}
{#                                    <option>Plot</option>#}
{#                                    <option>Commercial plot</option>#}
{#                                    <option>other</option>#}
{#                                </select>#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                                <label>Area(meter squares)</label>#}
{#                                <input type="number" class="form-control" placeholder="Any">#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                                <p class="budget">Price range?</p>#}
{#                                <input type="range" name="range" id="range" min="0" max="300" step="5" value="175"/>#}
{#                                <output for="range" class="output"></output>#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                                <button type="submit" class="btn btn-default">Search</button>#}
{#                            </div>#}
{##}
{#                        </form>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- End customize search -->#}

            <!-- Sign Up -->
            <div class="box col-md-6">
                <div class="box-inner round-the-corners">
                    <!-- put your content here -->

                    <div class="form-group">
                        <h2 class="whitesmoke-dark font-size-smaller"><i class="glyphicon glyphicon-edit"></i> Sign Up!
                        </h2>
                    </div>

                    <form role="form" action="{% url 'sign_up' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label>Email address</label>
                            {{ sign_up_form.email }}
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            {{ sign_up_form.password }}
                        </div>

                        <div class="form-group">
                            <label>Confirm password</label>
                            {{ sign_up_form.confirm_password }}
                        </div>

                        <div class="form-group">
                            <label>First Name</label>
                            {{ sign_up_form.first_name }}
                        </div>

                        <div class="form-group">
                            <label>Last Name</label>
                            {{ sign_up_form.last_name }}
                        </div>

                        <div class="form-group">
                            <label>Address</label>
                            <input id="autocomplete" class="form-control" placeholder="Enter your address"
                                   onFocus="geolocate()" type="text"/>
                        </div>

                        <div class="form-group">
                            {{ sign_up_form.zip_code }}
                            {{ sign_up_form.street_or_block }}
                            {{ sign_up_form.route }}
                            {{ sign_up_form.city }}
                            {{ sign_up_form.state }}
                            {{ sign_up_form.country }}
                        </div>

                        <div class="form-group">
                            <label class="radio-inline">{{ sign_up_form.gender }}</label>
                        </div>

                        <div class="form-group">
                            <label> Date of birth</label>

                            <div class='input-group date' id='datepicker1'>
                                {{ sign_up_form.date_of_birth }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <!-- End Sign Up -->

    </div><!--/row-->

{% endblock %}