{% extends 'base.html' %}

{% block content %}
  {% if users_list and user.is_authenticated %}
    <div class="d-flex flex-row flex-wrap align-content-around">
      {% for user in users_list %}
        <div class="card profile">
          <img class="img-fluid card-img-top" src="{{user.image_url|default_if_none:'#'}}">
          <div class="card-body bg-secondary">
            <h5 class="card-title">{{user.username}}</h5>
            <hr>
            <a href="{% url 'details' user.pk %}">Details</a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if is_paginated %}
      <nav aria-label="Users navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="/profile?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
          {% endif %}
            <li class="page-item">
              <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
            </li>
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="/profile?page={{ page_obj.next_page_number }}">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  {% else %}
    <p>No users yet in the sytems or log in as super user</p>
  {% endif %}
{% endblock %}
