body {
  font-family: 'Black Ops One', cursive;
  margin: 20px;

}

.player-detail {
  overflow: auto;

}

.search-panel {
  margin-bottom: 2vh;
  min-height: 7vh;
  text-aligh: center;
}

.navbar-brand {
  font-family: 'Black Ops One', cursive;
}

.main-player {
  height: 60vh;
  padding: 3vh;
}

.player-title {
  font-family: 'Playfair Display', serif;
}

.player-description {
  font-family: 'Slabo 13px', serif;
}

.video-list {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.video-list-object {
  cursor: pointer;
}
