<!DOCTYPE html> {% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <title>WBlog Application</title>
    {% include 'includes/header.html' %}
</head>

<body class="login-body">

    <div class="login-container">
        <div class="login-info">
            <h1>WBlog Application</h1><span>Made with <i class="fa fa-heart"></i> by <a href="http://andytran.me">Andy Tran</a></span>
        </div>
    </div>
    <div class="form">
        <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg" /></div>
        <form class="register-form">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" />
            <input type="password" placeholder="Password" name="password1" />
            <input type="password" placeholder="Confirm Password" name="password2" />
            <input type="text" placeholder="Address" name="address" />
            <select name="gender">
              <option value="M" selected>Male</option>
              <option value="F">Female</option>
            </select>
            <input type="date" name="date_of_birth">
            <div class="register-error"></div>
            <button>Create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" />
            <input type="password" placeholder="Password" name="password" />
            <div class="login-error"></div>
            <br>
            <button class="login-button">Login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</body>

</html>
