body {
  background: url("/static/images/dashboard/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* position */
.m-5 {
  margin: 5px
}
.m-10 {
  margin: 10px
}

/* layout */
.center-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}