.news-slider{
    height: 100%;
    width: 80%;
}


.input-group {
    margin:20px 0px;
}

.news-thumbnail div.thumbnail > img {
    height: 200px;
}


.news-thumbnail thumbnail {
    height: 400px;
    display: block;    
}

.trim-content{
    text-overflow: hidden;
    overflow: hidden;
}

.center-content {
    text-align: center;
}

.object-center{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}