{% extends 'user/base.html' %}

{% block title %}
    {% if is_rest %}
        Home
    {% else %}
        REST Home
    {% endif %}

{% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <h1>Welcome user "{{ request.user.first_name }} {{ request.user.last_name }}"</h1>
        <p>Your username is: {{ request.user.username }}</p>
        <p>Your email is: {{ request.user.email }}</p>
        <hr />
        <p>What do you want to do?</p>
        {% if is_rest %}
            <p><a href="{% url 'my_user:rest_logout' %}">Logout</a> | <a href="{% url 'my_user:rest_edit'%}">Edit Profile</a></p>
        {% else %}
            <p><a href="{% url 'my_user:logout' %}">Logout</a> | <a href="{% url 'my_user:edit'%}">Edit Profile</a></p>
        {% endif %}
    {% else %}
        <h1>Hello World</h1>
        <P>Please Login or Register First</P>
        {% if is_rest %}
            <p><a href="{% url 'my_user:rest_login' %}">Login</a> | <a href="{% url 'my_user:rest_register' %}">Register</a></p>
        {% else %}
            <p><a href="{% url 'my_user:login' %}">Login</a> | <a href="{% url 'my_user:register' %}">Register</a></p>
        {% endif %}
    {% endif %}


    <hr/>
    {% if is_rest %}
        <h3>This is a special view for REST Framework</h3>
        <p>To go to simple home <a href="{% url 'my_user:index' %}">Click Here</a> </p>
    {% else %}
        <p>To go to REST Framework home <a href="{% url 'my_user:rest_index' %}">Click Here</a> </p>
    {% endif %}
{% endblock %}
