{% extends 'base.html' %}

    
<body>
  {% block content %}
        <div class="jumbotron">
        <h1 style="font-size:30px; font-weight:bold; font-family:georgia">Home</h1>
        <b style="font-size:60px; font-family:georgia">Arbisoft Library</b>
        </div>

      {% if user.is_authenticated %}
      {% if is_librarian %}
      <button name='create' type="submit" onclick=location.href="{% url 'book-create' %}" class="btn btn-primary">Add a New Book</button>
      <input type="submit" value="Users" onclick=location.href="{% url 'users' %}" class="btn btn-primary" />
      <input type="submit" value="User Requests" onclick=location.href="{% url 'direct_requests' %}" class="btn btn-primary" />   
      {% endif %}
    <div align="center">
      <form action="{% url 'search_results' %}" method="get" id="search_form">
        <input name="q" type="text" placeholder="Search...">
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
   
      <ul aligh="center">
          {% for book in object_list %}
            <li>
              {{ book.title }}, {{ book.author_name }}
              <p><a href="{% url 'book_detail' book.id %}">Book Details</a></p>
            </li>
          {% endfor %}
          
        </ul>

    {% else %}
      <p>You are not logged in</p>
      <input type="submit" value="Login" onclick=location.href="{% url 'login' %}" class="btn btn-primary" /> |
      <input type="submit" value="Register" onclick=location.href="{% url 'register' %}" class="btn btn-primary" />
    {% endif %}
  {% endblock %}
</body>
</html>