{% extends 'base.html' %}
{% block head_title %} Edit Profile || {{ block.super }} Users {% endblock head_title %}
{% block content %}
{% include 'snippets/nav.html' %}
<h1>Edit Profile</h1>
<form method='POST'> {% csrf_token %}
    <label>First Name</label><br>
    <input type='text' value='{{first_name}}' name='first_name' placeholder='first_name' required><br>
    <label>Last Name</label><br>
    <input type='text' value='{{last_name}}' name='last_name' placeholder='last_name' required><br>
    <label>City</label><br>
    <input type='text' value='{{city}}' name='city' placeholder='city' required><br>
    <label>Country</label><br>
    <input type='text' value='{{country}}' name='country' placeholder='country' required><br>
    <label>Qualification</label><br>
    <input type='text' value='{{qualification}}' name='qualification' placeholder='qualification' required><br>
    <label>Date of Birth</label><br>
    <input type='Date' value='{{date_of_birth}}' name='date_of_birth' placeholder='date_of_birth' required><br>
    <button type='submit'>Save</button>
</form>
{{ message }}
{% endblock content %}
