<p xmlns="http://www.w3.org/1999/html">this is search partial</p>

<div ng-controller="SearchCtrl">
    <form novalidate class="form-inline">
        <div class="form-group">
            <label for="states">State</label>
            <input type="text" ng-model="dockets.state" class="form-control" id="states" placeholder="States">
        </div>
        <div class="form-group">
            <label for="keyword">Keyword</label>
            <input type="text" ng-model="dockets.keyword" class="form-control" id="keyword" placeholder="keyword">
        </div>
        <div class="form-group">
            <div ng-controller="DatePickerCtrl">
                <input ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}"
                       ng-model="to_date"
                       is-open="opened"
                       date-disabled="disabled(date, mode)"
                       ng-required="false" close-text="Close"/>
            </div>
        </div>
        <div class="form-group">
            <div ng-controller="DatePickerCtrl">
                <input ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}"
                       ng-model="from_date"
                       is-open="opened"
                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                       ng-required="false" close-text="Close"/>
            </div>
        </div>
        <button type="submit" ng-click="searchDockets(dockets)" class="btn btn-default">Search</button>
        <input type="button" class="btn btn-default" ng-click="reset()" value="Reset"/>
    </form>

    <div ng-controller="SearchCtrl">
        <table class="friend table-responsive" ng-if="friends">
            <tr>
                <th><a href="" ng-click="reverse=!reverse;order('name', reverse)">Name</a>
                <th><a href="" ng-click="reverse=!reverse;order('phone', reverse)">Phone Number</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('age',reverse)">Age</a></th>
            </tr>
            <tr ng-repeat="friend in friends">
                <td>{{friend.name}}</td>
                <td>{{friend.phone}}</td>
                <td>{{friend.age}}</td>
            </tr>
        </table>


    </div>

</div>