<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Tweeter</title>
    {% endblock %}

    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"
    >
    <style>
        body {
            text-align: center; /* !!! */

        }
        header {
            border-bottom: 3px solid black;
            background-color: dodgerblue;
        }
        header > h1 {
            display: inline-block;
        }
        header span {
            margin-left: 10px;
        }
        table.tweet{
            background-color: #dff8ff;
            margin-bottom: 5px;
        }

    </style>





</head>
<body>
    {% block header %}
        <header>
            <h1>Tweeter</h1>
        </header>
    {% endblock header %}

    {% block content %}
    {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
</body>
</html>