{% extends 'twitter/authenticated_base.html' %}


{% if not user.is_authenticated %}
    {% block header %}
    {% endblock header %}
{% endif %}

{% block content %}
    {% if user.is_authenticated %}
            <h2>Tweets</h2>
            {% for tweet in user.tweet_set.all %}
                <table class="tweet" align="center" border="0" cellspacing="0" cellpadding="20"  >
                    <tr><td>{{ tweet }}</td></tr>
                </table>
            {% endfor %}

            {% block post_tweet %}
                <form action="{% url 'tweet' %}" method="get">
                    <input type="submit" value="Post Tweet">
                </form>
            {% endblock post_tweet %}

    {% else %}

            <p><a href="{% url 'login' %}">LOGIN</a></p>
            <p>OR</p>
            <p><a href="{% url 'signup' %}">SIGN UP</a></p>

    {% endif %}
{% endblock content%}