{% extends 'twitter/home.html' %}

{% block content %}
    {% if view.profile_user.first_name %}
        <h1>{{ view.profile_user.first_name|capfirst }}'s Profile</h1>
    {% else %}
        <h1>{{ view.profile_user.username|capfirst }}'s Profile</h1>
    {% endif %}

    {% if not view.profile_user == user %}
        <span>
        <form action="{% url 'follow'%}" method="post">
            {% csrf_token %}
            {{ view.form.as_p }}
            <input type="submit" value="Follow">
        </form>
        </span>
    {% endif %}

    <h2>Tweets</h2>

    {% for tweet in view.tweets %}
        <table class="tweet" align="center" border="0" cellspacing="0" cellpadding="20"  >
            <tr><td><pre>{{ tweet }}</pre></td></tr>
        </table>
    {% endfor %}

{% endblock content%}