
<h3> Hi {{ name }}</h3>

<table>

    <tr>
        <th>Blog text</th>

        <th>BLog date</th>

        <th>Writer</th>

        <th>Status</th>

        <th>Delete</th>


    </tr>
    {% for item in list %}
    <tr> 
        <td>{{ item.blog_text }}</td>

        <td>{{ item.blog_date }}</td>

        <td>{{ item.user_name }}</td>
        {% if item.status == 1 %}
            <td> public </td>
        {% elif item.status == 2 %}
            <td> private </td>
        {%endif%}

        {% if item.user_id == id %}
            {% url 'delete' item.id as delete_url%}
            <td> <form method="post" action="{{delete_url}}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form></td>

        {%endif%}

    </tr>

    {% endfor %}
</table>

{% block content %}
  <h2>New Blog</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}