{% extends 'common/base.html' %}
{% block title %}Edit{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Edit info</h4></div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'user/profile/form_template.html' %}
                            {% if form.non_field_errors %}
                                <div class="form-group" >
                                    <div class="col-sm-offset-2 col-sm-6">
                                        {% for error in form.non_field_errors %}
                                            <div class="form-error">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-1">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                                <div class="col-sm-1" style="margin-left: 10px;">
                                    <a href="{% url 'user:index' %}">
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
