<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %} - Flicker</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-defualt">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Flicker</a>
        </div>
      </div>
  </nav>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
