{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto" style="background-color:white">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
            <div class="flash">{{ message }}</div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">User's Post</div>
                    <div class="panel-body">
                        <nav class="navbar navbar-default">
                            <ul class="nav navbar-nav navbar-right">
                                <form class="navbar-form navbar-left" action=""
                                      method="POST">
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               name="tag"
                                               placeholder="Search Posts by Tag">
                                    </div>
                                    <button type="submit"
                                            class="btn btn-default">Search
                                    </button>
                                </form>
                            </ul>
                        </nav>
                        {% for posts_data in posts_data_list %}
                        <div class="well">
                            <div>
                                <h3 class="panel-title">
                                    {{posts_data.title}}</h3>
                            </div>
                            <div class="panel-body">
                                <a href="/post/{{ posts_data.pid }}">
                                    <img src="{{ url_for('static', filename = posts_data.image_url) }}"
                                         class="img-thumbnail" width="500dp"
                                         height="300dp"/></a>
                                <div
                                "panel-heading">
                                <br>
                                <div>
                                    <form action="" method="POST">
                                        {% if (posts_data.pid,) in user_likes%}
                                        <input type="hidden" name="like_status"
                                               value="1">
                                        <button class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                            UnLike
                                        </button>
                                        {% else %}
                                        <input type="hidden" name="like_status"
                                               value="0">
                                        <button class="btn btn-default btn-sm"
                                                name="like">
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                            Like
                                        </button>
                                        {% endif %}
                                        <input type="hidden" name="post_id"
                                               value="{{posts_data.pid}}">
                                        <span class="badge">{{ posts_data.like|count }}</span>
                                    </form>
                                    <br/>
                                    {% for tag in posts_data.tag %}
                                    <div class="btn-group">
                                        <form action="" method="POST">
                                            <input type="hidden"
                                                   class="form-control"
                                                   name="tag"
                                                   value="{{ tag.tag }}">
                                            <button type="submit"
                                                    class="btn btn-xs btn-info">
                                                {{ tag.tag }}
                                            </button>
                                        </form>
                                    </div>
                                    {% endfor %}
                                    <br/><br/>
                                    <form action="" method="POST">
                                        <div class="form-group">
                                            <input type="hidden" name="post_id"
                                                   value="{{posts_data.pid}}">
                                            <input type="text"
                                                   name="comment_text"
                                                   placeholder="Comment"
                                                   class="form-control"><br/>
                                            <button name="comment"
                                                    type="submit"
                                                    class="btn btn-primary">
                                                Comment
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <h3><a href="/user/{{ posts_data.user.uid }}">{{posts_data.user.username}}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="alert alert-danger">
                        No Posts
                    </div>
                    {% endfor %}
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
