{% extends "base_auth.html" %}
{% block title %}SingUp{% endblock %}
{% block content %}
  <div class="container">
    <form class="form-signin" action="" method="POST">
        <h2 class="form-signin-heading">Please Sign Up</h2>
        {{ signup_form.username(id="inputEmail", class="form-control", autofocus="",placeholder="User Name")}}
        {{ signup_form.email(placeholder="Email",id="inputEmail", class="form-control", autofocus="") }}
        {{ signup_form.password(placeholder="Password",id="inputPassword", class="form-control", required="") }}
        {{ signup_form.submit(class="btn btn-lg btn-primary btn-block")}}
        <div class="noacc">Already have an account! <a class="signup" href="{{ url_for('signin') }}">Sign In Here</a></div>
    </form>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
      <div class="flash">{{ message }}</div>
     </div>
    {% endfor %}
  </div>
{% endblock %}
