{% extends "base_auth.html" %}
{% block title %}SingIn{% endblock %}
{% block content %}
<div class="container">
   <form class="form-signin" action="" method="POST">
      <h2 class="form-signin-heading">Please Sign In</h2>
      {{ signin_form.email(placeholder="Email",id="inputEmail", class="form-control", autofocus="") }}
      {{ signin_form.password(placeholder="Password",id="inputPassword", class="form-control", required="") }}
      {{ signin_form.submit(class="btn btn-lg btn-primary btn-block")}}
      <div class="noacc">
         Don't have an account! <a href="{{ url_for('signup') }}">Sign Up Here</a>
      </div>
   </form>
</div>
<div class="container">
   {% for message in get_flashed_messages() %}
   <div class="alert alert-danger">
      <div class="flash">{{ message }}</div>
   </div>
   {% endfor %}
</div>
{% endblock %}
