<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
   <h1>Blog</h1>
   <ul>
      {% if session['user_available'] %}
      <li><span>{{ session['current_user'] }}</span>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
      {% endif %}
   </ul>
</nav>
<section class="content">
   {% block header %}
   <h1>{% block title %}Posts{% endblock %}</h1>
   {% if session['user_available'] %}
   <a class="action" href="{{ url_for('add_post') }}">New</a>
   <a class="action" href="{{ url_for('show_all_users') }}">All Users</a>
   <a class="action" href="{{ url_for('user_wall') }}">Wall</a>
   {% endif %}
   {% endblock %}
   {% block content %}
   <div class="ps">
   {% for posts_data in posts_data_list %}
   {% if posts_data.post_privacy == 1 or posts_data.puid == session['current_user_id'] %}
   <div class="panel panel-info">
   <div class="panel-heading">
   <div>
      <h3 class="panel-title">{{posts_data.title}}</h3>
   </div>
   <div class="panel-body">
      <img src="{{ url_for('static', filename = posts_data.image_url) }}"
        class="img-thumbnail" width="300dp" height="300dp" />
      </div
      <div id="icon">
         BY: {{posts_data.username}}
      </div>
      <hr>
   </div>
   {% elif posts_data.puid in followed_users_list and posts_data.post_privacy == 0 %}
   <div class="panel panel-info">
      <div class="panel-heading">
         <div>
            <h3 class="panel-title">{{posts_data.title}}</h3>
         </div>
         <div class="panel-body">
            <img src="{{ url_for('static', filename = posts_data.image_url) }}"
              class="img-thumbnail" width="300dp" height="300dp" />
            </div
            <div id="icon">
               BY: {{posts_data.username}}
            </div>
            <hr>
         </div>
         {% endif %}
      </div>
      {% endfor %}
   </div>
</section>
{% endblock %}
<div class="erorr">
   {% for message in get_flashed_messages() %}
   <div class="flash">{{ message }}</div>
   {% endfor %}
</div>
