<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <head>
        <meta charset="utf-8">
        <title>CV Maker</title>
    </head>
    <body>
        <form action="http://127.0.0.1:8000/submit_basic_information">
            <div>
                <h3>Basic Information</h3>
                <p>Name: <input type="text" name="name" placeholder="name"></p>
                <p>Date of Birth: <input type="date" name="date_of_birth"></p>
                <p>Contact Number: <input type="number" name="contact_number"></p>
                <p>Address: <input type="text" name="address"></p>
                <p>Email: <input type="email" name="email"></p>
                <h4>Skills</h4>
                <p>Skill 1: <input type="text" name="skill1">
                    <input type="radio" name="skill1_level" value="1">Beginner
                    <input type="radio" name="skill1_level" value="2">Little knowledge
                    <input type="radio" name="skill1_level" value="3">Intermediate
                    <input type="radio" name="skill1_level" value="4">Advance
                    <input type="radio" name="skill1_level" value="5">Expert
                </p>
                <p>Skill 2: <input type="text" name="skill2" placeholder="Optional">
                    <input type="radio" name="skill2_level" value="1">Beginner
                    <input type="radio" name="skill2_level" value="2">Little knowledge
                    <input type="radio" name="skill2_level" value="3">Intermediate
                    <input type="radio" name="skill2_level" value="4">Advance
                    <input type="radio" name="skill2_level" value="5">Expert
                </p>
                <p>Skill 3: <input type="text" name="skill3" placeholder="Optional">
                    <input type="radio" name="skill3_level" value="1">Beginner
                    <input type="radio" name="skill3_level" value="2">Little knowledge
                    <input type="radio" name="skill3_level" value="3">Intermediate
                    <input type="radio" name="skill3_level" value="4">Advance
                    <input type="radio" name="skill3_level" value="5">Expert
                </p>
                <p>Skill 4: <input type="text" name="skill4" placeholder="Optional">
                    <input type="radio" name="skill4_level" value="1">Beginner
                    <input type="radio" name="skill4_level" value="2">Little knowledge
                    <input type="radio" name="skill4_level" value="3">Intermediate
                    <input type="radio" name="skill4_level" value="4">Advance
                    <input type="radio" name="skill4_level" value="5">Expert
                </p>
                <p>Skill 5: <input type="text" name="skill5" placeholder="Optional">
                    <input type="radio" name="skill5_level" value="1">Beginner
                    <input type="radio" name="skill5_level" value="2">Little knowledge
                    <input type="radio" name="skill5_level" value="3">Intermediate
                    <input type="radio" name="skill5_level" value="4">Advance
                    <input type="radio" name="skill5_level" value="5">Expert
                </p>
                <h4>Hobbies</h4>
                <p>Hobby 1: <input type="text" name="hobby1"></p>
                <p>Hobby 2: <input type="text" name="hobby2" placeholder="Optional"></p>
                <p>Hobby 3: <input type="text" name="hobby3" placeholder="Optional"></p>
                <h4>Reference</h4>
                <p>Reference 1: <input type="text" name="reference1"></p>
                <p>Reference 2: <input type="text" name="reference2" placeholder="Optional"></p>
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="http://127.0.0.1:8000/experience">Add Experience</a>
    </body>
</html>

