{% extends 'base.html' %}
{% load static %}
{% block body %}<!DOCTYPE html>

<div class="container" >
    <form id ="basic_information" method="post" class="form-control" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <h3>Basic Information</h3>
            <input type="hidden" name="user_id" value="{{user.id}}">
            <p>Image: <input type="file" class="form-control form-control-file" name="image"></p> <div class="alert-danger"> {{form.image.errors}} </div>
            <div class="form-row">
            <div class="form-group col-md-4">
                <p>Name: <input class="form-control" type="text" id="name" name="name" placeholder="Full Name"></p></div>
                <div class="alert-danger"> {{form.name.errors}} </div>
            <div class="form-group col-md-2">
                <p>Date of Birth: <input class="form-control" type="date" name="date_of_birth"></p></div></div>
            <div class="alert-danger"> {{form.date_of_birth.errors}} </div>
            <div class="form-row">
            <div class="form-group col-md-4">
                <p>Contact Number: <input class="form-control" type="number" name="contact_number"></p></div>
            <div class="form-group col-md-4">
                <p>Email: <input class="form-control" type="email" name="email"></p></div></div>
            <div class="alert-danger"> {{form.email.errors}} </div>
            <div class="form-row">
            <div class="form-group col-md-6">
                <p>Address: <input class="form-control" type="text" name="address"></p></div></div>
            <div class="alert-danger"> {{form.address.errors}} </div>
            </div>
            <div>
            <h4>Skills</h4>
            Skill 1: <input type="text" name="skill1"><br> <div class="alert-danger"> {{form.skill1.errors}} </div>
                <div class="form-check">
                <input type="radio" class="radio" name="skill1_level" value=1>Beginner<br>
                <input type="radio" class="radio" name="skill1_level" value=2>Little knowledge<br>
                <input type="radio" class="radio" name="skill1_level" value=3>Intermediate<br>
                <input type="radio" class="radio" name="skill1_level" value=4>Advance<br>
                <input type="radio" class="radio" name="skill1_level" value=5>Expert<br>
                </div>
            Skill 2: <input type="text" name="skill2" placeholder="Optional"><br> <div class="alert-danger"> {{form.skill2.errors}} </div>
                <div class="form-check">
                <input type="radio" class="radio" name="skill2_level" value=1>Beginner<br>
                <input type="radio" class="radio" name="skill2_level" value=2>Little knowledge<br>
                <input type="radio" class="radio" name="skill2_level" value=3>Intermediate<br>
                <input type="radio" class="radio" name="skill2_level" value=4>Advance<br>
                <input type="radio" class="radio" name="skill2_level" value=5>Expert<br>
            </div>
            <p>Skill 3: <input type="text" name="skill3" placeholder="Optional"><br> <div class="alert-danger"> {{form.skill3.errors}} </div>
                <div class="form-check">
                <input type="radio" class="radio" name="skill3_level" value=1>Beginner<br>
                <input type="radio" class="radio" name="skill3_level" value=2>Little knowledge<br>
                <input type="radio" class="radio" name="skill3_level" value=3>Intermediate<br>
                <input type="radio" class="radio" name="skill3_level" value=4>Advance<br>
                <input type="radio" class="radio" name="skill3_level" value=5>Expert<br>
                </div>
            Skill 4: <input type="text" name="skill4" placeholder="Optional"><br> <div class="alert-danger"> {{form.skill4.errors}} </div>
                <div class="form-check">
                <input type="radio" class="radio" name="skill4_level" value=1>Beginner<br>
                <input type="radio" class="radio" name="skill4_level" value=2>Little knowledge<br>
                <input type="radio" class="radio" name="skill4_level" value=3>Intermediate<br>
                <input type="radio" class="radio" name="skill4_level" value=4>Advance<br>
                <input type="radio" class="radio" name="skill4_level" value=5>Expert<br>
                </div>
            Skill 5: <input type="text" name="skill5" placeholder="Optional"><br> <div class="alert-danger"> {{form.skill5.errors}} </div>
                <div class="form-check">
                <input type="radio" class="radio" name="skill5_level" value=1>Beginner<br>
                <input type="radio" class="radio" name="skill5_level" value=2>Little knowledge<br>
                <input type="radio" class="radio" name="skill5_level" value=3>Intermediate<br>
                <input type="radio" class="radio" name="skill5_level" value=4>Advance<br>
                <input type="radio" class="radio" name="skill5_level" value=5>Expert<br>
                </div>
            </div>
            <h4>Hobbies</h4>
            <p>Hobby 1: <input type="text" name="hobby1"></p> <div class="alert-danger"> {{form.hobby1.errors}} </div>
            <p>Hobby 2: <input type="text" name="hobby2" placeholder="Optional"></p> <div class="alert-danger"> {{form.hobby2.errors}} </div>
            <p>Hobby 3: <input type="text" name="hobby3" placeholder="Optional"></p> <div class="alert-danger"> {{form.hobby3.errors}} </div>
            <h4>Reference</h4>
            <p>Reference 1: <input type="text" name="reference1"></p> <div class="alert-danger"> {{form.reference1.errors}} </div>
            <p>Reference 2: <input type="text" name="reference2" placeholder="Optional"></p> <div class="alert-danger"> {{form.reference2.errors}} </div>
        <button id="submit" type="submit">Submit</button>
    </form>
    <button>
        <a href="../experience">Add Experience</a></button>
</div>
{% endblock %}

