{% extends 'base.html' %}
    {% block body %}
    <div class="container">
        <form method="post" class="form-control">
            {% csrf_token %}
            <div class="edu">
                <h3>Education</h3>
                <input type="hidden" name="user_id" value="{{user.id}}">
                <p>Degree: <input type="text" name="degree"></p>
                <p>Institute: <input type="text" name="institute"></p>
                <p>Starting Date: <input type="date" name="starting_date"></p>
                <p>Ending Date: <input type="date" name="ending_date"></p>
                <p>City: <input type="text" name="city"></p>
                <p>Description: <input type="text" name="description"></p>
            </div>
            <button type="submit">Submit</button>
        </form>
        <button class="experience">
            <a href="../">Go to home</a></button>
    </div>
    {% endblock %}
