{% extends 'base.html' %}
    {% block body %}
    <div class="container">
        <form method="post" class="form-control" style="background-color: #d8fefd;">
            {% csrf_token %}
            <div class="edu">
                <h3>Education</h3>
                <input type="hidden" name="user_id" value="{{user.id}}">
                <p>Degree: <input type="text" name="degree"></p>  <div class="alert-danger"> {{form.degree.errors}} </div>
                <p>Institute: <input type="text" name="institute"></p>  <div class="alert-danger"> {{form.institute.errors}} </div>
                <p>Starting Date: <input type="date" name="starting_date"></p>  <div class="alert-danger"> {{form.starting_date.errors}} </div>
                <p>Ending Date: <input type="date" name="ending_date"></p>  <div class="alert-danger"> {{form.ending_date.errors}} </div>
                <p>City: <input type="text" name="city"></p>  <div class="alert-danger"> {{form.city.errors}} </div>
                <p>Description: <input type="text" name="description"></p>  <div class="alert-danger"> {{form.description.errors}} </div>
            </div>
            <button type="submit">Submit</button>
        </form>
        <div align="right">
        <button>
            <a href="../experience" class="navbar-brand">Add Experience</a></button> &nbsp &nbsp
        <button>
            <a href="../" class="navbar-brand">Go Home</a></button> &nbsp &nbsp
        <button>
            <a href="../cv" class="navbar-brand">Print CV</a></button>
        </div>
    </div>
    {% endblock %}
