{% extends 'base.html' %}
    {% block body %}
        <h1 align="center">Welcome to CV making website</h1>
        <br><br>
        <div align="center">
        {% if user.is_authenticated %}
            <button><a href="{% url 'basic_information' %}" class="navbar-brand">Start CV Making</a></button>
            <br> <br>
            <button><a href="{% url 'retrieve_cv' %}" class="navbar-brand" target="_blank">Print already made CV</a></button> &nbsp &nbsp
            <br> <br>
            <button><a href="{% url 'experience' %}" class="navbar-brand">Add Experience</a></button> &nbsp &nbsp
            <br> <br>
            <button><a href="{% url 'education' %}" class="navbar-brand">Add Education</a></button>
            <br> <br>
            <button><a href="{% url 'jobs' %}" class="navbar-brand">Jobs for You</a></button>
        {% else %}
            <button><a href="{% url 'login' %}" class="navbar-brand">Start CV Making</a></button>
        {% endif %}
        </div>

    {% endblock %}
