{% extends 'accounts/card_wrapper.html'%} {% block card_content%}

<div class="row">
  <div class="center-align">
    <h4>Get your free account</h4>
  </div>
</div>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Enter your first name"
          type="text"
          id="first_name"
          class="validate"
          pattern="[A-Za-z]*"
        />
        <label for="first_name">First Name</label>
        <span
          class="helper-text"
          data-error="only alphabets are allowed"
          data-success="Done"
        ></span>
      </div>
      <div class="input-field col s12">
        <input
          placeholder="Enter your last name"
          type="text"
          id="last_name"
          class="validate"
          pattern="[A-Za-z]*"
        />
        <label for="last_name">Last Name</label>
        <span
          class="helper-text"
          data-error="only alphabets are allowed"
          data-success="Done"
        ></span>
      </div>
      <!-- email -->
      <div class="input-field col s12">
        <input
          placeholder="Enter your email address"
          type="email"
          id="email"
          class="validate"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
        <label for="email">Email Address</label>
        <span
          class="helper-text"
          data-error="enter a valid email address in lowercase."
          data-success="Done"
        ></span>
      </div>
      <!-- password -->
      <div class="input-field col s12">
        <input type="password" id="password" class="validate" />
        <label for="password">Password</label>
        <span
          class="helper-text"
          data-error="at least 5 characters long"
          data-success="Done"
        ></span>
      </div>
    </div>
  </form>
</div>
{% endblock %}
