{% extends 'accounts/card_wrapper.html'%} {% block card_content%}

<div class="row">
  <div class="center-align">
    <h4>Get your free account</h4>
  </div>
</div>
<div class="row">
  <form action="{% url 'signup' %}" method="post" class="col s12">
    {% csrf_token %}
    <div class="row">
      {% for field in form %}
      <div class="input-field col s12">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        <span class="helper-text">
          {{ field.help_text }}
        </span>
        {% for error in field.errors %}
        <span class="helper-text" style="color: red">
          {{ error }}
        </span>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <button class="btn waves-effect" type="submit">
      Register Me
    </button>
    <div>
      {{ form.non_field_errors }}
    </div>
  </form>
</div>
{% endblock %}
