<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disply Data</title>
    <style>
            table {
              border-collapse: collapse;
              width: fit-content;
            }
            table, td, th {
              border: 1px solid black;
              width: fit-content;
            }
            body{
                background-color: lightgray;
            }
    </style>
</head>
<body>
    <form action="search", method="POST">
        {% csrf_token %}
        <input type="search" name='search'>
        <button type="submit">Search</button>
    </form>
    <table>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Category
            </th>
            <th>
                Description
            </th>
            <th>
                Gender
            </th>
            <th>
                Image_Urls
            </th>
            <th>
                Name
            </th>
            <th>
                Retailer_sku
            </th>
            <th>
                Skus
            </th>
            <th>
                Url
            </th>
        </tr>
        
        {%for snkr in snkrs%}

                <tr>
                    <td>{{snkr.brand}}</td>
                    <td>{{snkr.category}}</td>
                    <td>{{snkr.snkr_descriptions.all}}</td>
                    <td>{{snkr.gender}}</td>
                    <td>
                        {%for images in snkr.snkr_images.all %}
                        <a href= {{images}} target="blank">
                            <img src= {{images}} width="20">
                        </a>
                        {% endfor %}
                    </td>
                    <td>{{snkr.name}}</td>
                    <td>{{snkr.retailer_sku}}</td>
                    <td>{{snkr.snkr_skus.all}}</td>
                    <td>{{snkr.url}}</td>
                </tr>
        {%endfor%}
    </table>
</body>
</html>
