#loginForm, #signupForm {
  margin-top: 30px; 
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logout-btn {
  position: fixed;
  right: 10px;
}

#newPostTitle{
	margin-bottom: 15px;
}

.content{
	margin-bottom: 30px;
}

.comment
{
	margin-bottom: 50px;
}