{% extends "base.html" %}
{% block content %}
    <div class="flex-container justify-content-center justify-content-space-between" style="display:flex;">
        <div class="col-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/shopcity/search">
                            <font size="2">
                                Home
                            </font>
                        </a>
                    </li>
                    {% for category in categories %}
                    <li class="breadcrumb-item">
                        <a href="#">
                            <font size="2">
                                {{category.category}}
                            </font>
                        </a>
                    </li>
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page">
                        <font size="2">
                            {{ product.name }}
                        </font>
                    </li>
                </ol>
            </nav>
            {% for image in images %}
            <br>
           <img src="{{ image }}" style="overflow: auto" class="rounded mx-auto d-block; margin:0" alt="{{ product.name }}" height="15%" width="80%"><br>
            {% endfor %}
        </div>
        <div class="col-4">
           <img src="{{ images|first }}" class="rounded mx-auto d-block" alt="{{ product.name }}" height="40%" width="100%">
        </div>
        <div class="col-5">
            <br>
            <h3>{{ product.name }}-{{ product.brand }} </h3>
            <h5>Price: {{ product.price }}-{{ product.currency }} </h5>

            <form method="post">{% csrf_token %}
                {% for colour, sizes in colours_and_sizes.items %}
                <p><b>Colour:</b> {{ colour }}</p>
                <div class="form-group row">
                    <p><b>&nbsp;&nbsp;&nbsp;Size:&nbsp;&nbsp;</b><p>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        {% for size, out_of_stock in sizes %}
                            {% if out_of_stock %}
                                <label class="btn btn-secondary">
                                <input type="radio" name="sku_id" id="option1" autocomplete="off" disabled>
                                {{ size }}
                                </label>
                            {% else %}
                                <label class="btn btn-dark">
                                    <input type="radio" name="sku_id" id="option2" value="{{ colour|add:'_'|add:size }}" autocomplete="off" required>
                                    {{ size }}
                                </label>
                            {% endif %}
                        {% endfor %}
                        </div>
                </div>
                {% endfor %}
                {% if user.is_superuser %}
                    <input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="Set Out Of Stock">
                {% else %}
                    <div class="form-group row">
                        <br><p><b>&nbsp;&nbsp;&nbsp;Quantity: &nbsp;</b></p>
                        <input type="number" value='1' name="quantity" min="1" max="10000" required>
                    </div>
                    {% if product.out_of_stock %}
                        <input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="Add To Cart" disabled>
                    {% else %}
                        <input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="Add To Cart">
                    {% endif %}
                {% endif %}
            </form>

            <div><br>
                <h5>Description: </h5>
                {% for d in description %}
                  <p>{{ d }}</p>
                {% endfor %}
                {% if care %}
                  <h5>Care: </h5>
                {% endif %}
                {% for c in care %}
                  <p>{{ c }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
