{% extends 'accounts/base.html' %}

{% block title %} Write New Blog {% endblock %}

{% block content %}
    <h2>Add New Blog</h2>
    <form method="put" class="edit_blog" action="{% url 'blog' form.instance.id %}">
        <input type="hidden" name="id" value="{{form.instance.id}}">
        {% csrf_token %}

        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Edit Blog">
    </form>

    {% block javascript %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('.edit_blog').submit(function(){
                    $.ajax({
                        headers: { "X-CSRFToken": '{{csrf_token}}'},
                        method: $(this).attr("method"),
                        url: $(this).attr("action"),
                        data: $(this).serialize(),
                        success: function(result){
                            alert("Successfully edited");
                            window.location.href = "http://172.16.10.105:8080/";
                        }
                    });

                    return false;
                });
            });
        </script>
    {% endblock %}

{% endblock %}