{% extends 'accounts/base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
        <h3>
            <a href="{% url 'add_blog' %}">Add New Blog</a>
        </h3>

    {% else %}
        <p>
           <a href="{% url 'login' %}">Login/</a>
           <a href="{% url 'signup' %}">Signup</a>
        </p>
    {% endif %}


    <h1>Blogs List</h1>
    <div class="panel-group" id="accordion"></div>
    <!--<ul id="blogs" class="list-group" id="list-tab" role="tablist"></ul>-->

    <!--<ul id="blogs">-->
        <!--{% for blog in blogs %}-->
            <!--<li id="blog_{{blog.id}}">-->
                <!--<h3>-->
                    <!--{{ blog.blog_title }}-->
                    <!--{% if user == blog.user_id %}-->
                        <!--<a href="{% url 'edit_blog' blog.id %}">Edit|</a>-->
                        <!--<a href="#" class="delete_blog" id="{{blog.id}}">Delete</a>-->
                    <!--{% endif %}-->
                <!--</h3>-->
                <!--{{ blog.blog_description }}-->
            <!--</li>-->
            <!--<br><br>-->
        <!--{% endfor %}-->
    <!--</ul>-->

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
                    method: "GET",
                    url: "/apis/blogs/?format=json",
                    success: function( blogs ) {
                        blogs.forEach(function(element){
                            edit = ""
                            if (element["is_owner"] == true)
                                edit = `
                                    <small>(
                                        <a href="/blogs/edit_blog/${element["id"]}"}>Edit</a>
                                        | <a href="/blogs/delete_blog/${element["id"]}">Delete</a>)</small>`


                            li2 = `
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#blog_${element["id"]}"> ${element["blog_title"]}</a>
                                        ${edit}
                                      </h4>
                                    </div>
                                    <div id="blog_${element["id"]}" class="panel-collapse collapse in">
                                      <div class="panel-body">${element["blog_description"]}</div>
                                    </div>
                                </div>
                            `

                            $(".panel-group").append(li2)
                        });
                    }
            });

            $('.delete_blog').click(function(event){
                var blg_id = $(this).attr("id");
                $.ajax({
                    method: "GET",
                    url: "/blogs/delete_blog/",
                    data: {blog_id: blg_id},
                    success: function( result ) {
                        alert('Your blog is successfully deleted');
                        blog_id = '#blog_' + blg_id;
                        $(blog_id).remove();
                    }
                });
            });
        });
    </script>
{% endblock %}
