{% extends "base.html" %}
{% block title %}
    Login Page
{% endblock %}
{% block sidebar %}
    <li><a href="{% url 'users:signup' %}">Sign Up</a></li>
{% endblock %}
{% block heading %}
    Login Form
{% endblock %}
{% block content %}

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action='' method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Login" class="btn btn-primary"/>
        </form>
    </div>

{% endblock content %}
