{% if message %}
    {{ message }}
{% endif %}
{% if True in scrapy_spider_status.values %}
    <table>
        {% for spider_name, spider_status in scrapy_spider_status.items %}
            {% if spider_status %}
                <tr>
                    <td>
                        {{ spider_name }}
                    </td>
                    <td>
                        <button onclick="location.href='{% url 'the_news:terminate_fetch_news' %}?spider_name={{ spider_name }}'" type="button">Terminate Crawling</button>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% else %}
    <table>
        {% for spider_name, spider_status in scrapy_spider_status.items %}
            <tr>
                <td>
                    {{ spider_name }}
                </td>
                <td>
                    <button onclick="location.href='{% url 'the_news:fetch_news' %}?spider_name={{ spider_name }}'" type="button">Start Crawling</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
