{% extends "web/base.html" %}


{% block title %}My Posts {% endblock %}

{% block content %}

    <div id="content" class="col-lg-10 col-sm-10">
        <!-- content starts -->

        <div>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Account</a>
                </li>
                <li>
                    <a href="#">Post</a>
                </li>
                <li>
                    <a href="#">My Posts</a>
                </li>
            </ul>
        </div>

        <!-- My posts -->
        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-list-alt"></i> My Posts </h2>

                        <div class="box-icon">
                            <i class="glyphicon glyphicon-star-empty"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <!-- put your content here -->

                        {% if posts %}

                            {% for post in posts %}

                                {% if not post.is_post_expired %}

                                    <div class="horizontal-card">

                                        <div class="horizontal-card-inner">

                                            <div class="top-right-side">
                                                <div class="cls-posted-by"><span> <i
                                                        class="glyphicon glyphicon-eye-open"></i> {{ post.get_number_of_views }} | by {{ post.posted_by.get_full_name }} </span>
                                                </div>
                                            </div>

                                            <div class="card-title">
                                                <a href="{% url 'my_post_details' post_id=post.id %}"> {{ post.title }} </a>
                                            </div>

                                            <div class="exerpt">
                                                This Ad will expire in {{ post.time_until_expired.days }} day(s).
                                            </div>
                                            <ul class="data">
                                                <li>
                                                    {% if post.is_sold %}
                                                        <span class='cls-pending'> Sold </span>
                                                    {% else %}
                                                        <span class='cls-approved'> Offers {{ post.requests.count }}</span>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    <span class='cls-date'>  Posted on {{ post.posted_on }}</span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% else %}
                            <h2 class="whitesmoke-dark"> you didn't posted anything yet!</h2>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
        <!--/row-->


    </div>

{% endblock %}