    <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/themes/jquery.filer-dragdropbox-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/jquery.filer.css' %}" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{% static 'posts/js/jquery.filer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'posts/js/upload.js' %}"></script>

    <title> File Upload </title>
</head>
<body>

    <form action="{% url 'file_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="files[]" id="input_file" multiple="multiple">
    </form>

</body>
</html>