{% extends 'note/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h3 class="border-bottom mb-4">Public Note Books     {% if note_books.count != 0 %}
                <a href="{% url 'all-public-note-books' %}" class="btn btn-secondary float-right">View
                    all</a>{% endif %}</h3>
        </div>
    </div>
    <div class="row">
        {% if note_books.count != 0 %}
            {% for note_book in note_books %}
                {% include 'note/templates/public-note-book.html' %}
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p>No Notes to display!</p>
            </div>
        {% endif %}
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h3 class="border-bottom mb-4">Public Notes     {% if notes.count != 0 %}
                <a href="{% url 'all-public-notes' %}" class="btn btn-secondary float-right">View all</a>{% endif %}
            </h3>
        </div>
    </div>
    <div class="row">
        {% if notes.count != 0 %}
            {% for note in notes %}
                {% include 'note/templates/public-note.html' %}
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p>No Notes to display!</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
