<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}The Dog Portal{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/materialize.css" %}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="{% if user.is_authenticated %} /portal {% else %} / {% endif %}" class="brand-logo"><i class="material-icons">chevron_right</i>The Dog Portal</a>

      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li><a href="{% url 'upload' %}"><i class="material-icons">file_upload</i></a></li>
          {% comment %} <li><a href="{% url 'favorites' %}"><i class="material-icons">favorite</i></a></li> {% endcomment %}
          <li><a href="{% url 'my_uploads' %}"><i class="material-icons">view_module</i></a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <main class="main-div">
    {% block content %}
    {% endblock %}
  </main>
  <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
</body>
</html>
