.form-control:focus{
  border-color: black;
  box-shadow: inset 0 1px 1px black, 0 0 8px black;
}
.small{
  font-size: 65%;
}
.thumbnail{
  width: 100%;
}
.video-player{
  width: 100%;
  height: 50%;
}
.custom-column{
  max-width: 100%;
  padding: 0;
}
