{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Task Manager>{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'taskmanager/style.css' %}">
    {% block head %}{%  endblock %}
</head>
<body>
<ul class="nav justify-content-end">
    <li><a href="{% url 'taskmanager:index' %}">  Task Manager </a></li>
    <li class="user">
        {% if user.is_authenticated %}
            {% if user.image %}
                <img src="{{ user.image.url }}">
            {% endif %}
            <a class="inline" href="{% url 'taskmanager:profile' user.id %}"> {{ user.username }} </a>
            <a class="inline" href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'taskmanager:signup' %}">Signup</a>
        {% endif %}
    </li>
</ul>
{% block content %} {% endblock content%}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>