{% extends 'taskmanager/base.html' %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}
    Homepage
{% endblock title %}
{% block content %}
    <h2> All Tasks </h2>
    <a href="{% url 'taskmanager:add'%}">
        <button>Add Task</button>
    </a>
    <div class="floatr" > Total Tasks {% total_tasks %} </div>

    <table>
        <tr>
            <td> Title </td>
            <td> Deadline </td>
            <td> Description </td>
            <td> Assignee </td>
            <td> Options </td>
        </tr>
        {% for task in object_list %}
            <tr>
                <td> {{ task.title }} </td>
                <td> {{ task.due_date|due_date_string }} </td>
                <td class="set_fixed_width"> {{ task.description|truncate_string:50 }} </td>
                <td> {{ task.assignee }} </td>
                <td>
                    <form action="{% url 'taskmanager:delete' task.id%}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="submit" value="Delete" name="delete" />
                    </form>
                    <a href="{% url 'taskmanager:edit' task.id %}">
                        <button>Edit</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
