{% extends 'taskmanager/base.html' %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}
    Homepage
{% endblock title %}
{% block content %}
    <h2> All Tasks </h2>
    <a href="{% url 'taskmanager:add'%}">
        <button>Add Task</button>
    </a>
    <div class="floatr">
        <form class="inline" method="get" action="{% url 'taskmanager:index' %}" >
            <input type="text" name="search" placeholder="Search"/>
            <input type="submit" value="search" />
        </form>
        <div class="inline" > Total Tasks {% total_tasks %} </div>
    </div>
    <table>
        <tr>
            <td> Status </td>
            <td> Title </td>
            <td> Deadline </td>
            <td> Description </td>
            <td> Assignee </td>
            <td> Options </td>
        </tr>
        {% for task in object_list %}
            <tr {% ifequal task.status 1 %} class="completed" {%  endifequal %}>
                <td>
                    <a>
                        {{ task.status|status_string }}
                    </a>
                </td>
                <td> <a class="a_tags" href="{% url 'taskmanager:details' task.id %}"> {{ task.title }} </a> </td>
                <td> {% ifequal task.status 0 %}
                    {{ task.due_date|due_date_string }}
                {% else %}
                    -------
                {% endifequal %}
                </td>
                <td class="set_fixed_width"> {{ task.description|truncate_string:50 }} </td>
                <td> {{ task.assignee }} </td>
                <td>
                    <form action="{% url 'taskmanager:delete' task.id%}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="submit" value="Delete" name="delete" />
                    </form>
                    <a href="{% url 'taskmanager:edit' task.id %}">
                        <button>Edit</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
