.search-bar {
  box-shadow: 0 2px 15px rgba(7, 7, 7, 0.84), 0 0 6px rgba(0, 0, 0, 0.86);
  display: flex;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.header-input-wrapper {
  background: #120c12;
  flex: 1;
}

.input-span{
  display: inline-table;
  flex: 1;
  float: left;
  position: inherit;
}

.fixed{
  position: fixed;
}

.search-bar input {
  background: #121212;
  border: 1px solid grey;
  border-radius: 2px;
  color: #c2c2c2;
  float: left;
  font-size: 15px;
  height: 32px;
  margin: 9px;
  outline: none;
  padding: 12px 10px;
  width: 100%;
}

.submit-input{
  background: none;
  border: none;
  color: #c2c2c2;
  margin: auto;
  outline: none;
  padding: 2px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 10px;
}

button:hover{
  cursor:pointer;
}

.youtube-logo {
  background: no-repeat center url('./icons/youtube-logo.png') #121212;
  background-size: 60px;
  font-size: 0;
  left: 15px;
  top: 20px;
  width: 70px;
}

.video-play .details{
  background-color: #2e333c;
  border: 1px solid #010101;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(7, 7, 7, 0.84), 0 0 6px rgba(22, 48, 58, 0.86);
  display: inline-table;
  float: left;
  margin-top: 10px;
  padding: 10px;

}

.border-round{
  border-radius: 5px;
  padding: 1px;
}

.list-group{
  list-style: none;
}

.videos-list-item{
  background-color: #2e333c;
  border: 1px solid  #2e333c;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.84), 0 0 6px rgba(22, 48, 58, 0.86);
  cursor: pointer;
  margin-bottom: 8px;
  position: relative;
}

.video-publisher-date{
  bottom: 0;
  position: absolute;
}

.videos-list-item:hover{
  background-color: #434a57;
}

.left-allign{
  float: left;
}

.grey-small{
  color: grey;
  font-size: 0.6em;
  text-align: left;
}

.white-large{
  color: white;
  display: table-cell;
  font-size: 0.7em;
  text-align: left;
}
