{% include "admin_header.html" %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="{{url_for('static', filename = 'css/counter.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename = 'css/table.css')}}" rel="stylesheet">

{% block body %}
<div class="container">

    <div class="row">

        <div class="col md-12">
            <h1>Grocery <button type="button" class="button button1  pull-right" data-toggle="modal" data-target="#myModal">Add new</button></h1>
         <h2>All Items</h2>

         {%with messages = get_flashed_messages()%}

            {%if messages%}

               {% for message in messages %}

                  <div class="alert alert-success alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label ="close">

                        <span aria-hidden="true">&times;</span>

                  </button>
                     {{message}}
                  </div>


                {%endfor%}
            {%endif%}
         {%endwith%}

         <div class="tbl-header">
               <table cellpadding="0" cellspacing="0" border="0">
                 <thead>
                         <tr>
                                 <th>Serial No</th>
                                 <th>Name</th>
                                 <th>Price</th>
                                 <th>Unit</th>
                                 <th>Inventory</th>
                                 <th>Action</th>
                                 </tr>
                 </thead>
               </table>
             </div>
            <table cellpadding="0" cellspacing="0" border="0">
               
               {% for row in item %}
                  <tr>
                     <td>0{{row["id"]}}</td>
                     <td>{{row["name"]}}</td>
                     <td>{{row["price"]}}</td>
                     <td>{{row["unit"]}}</td>
                     <td>{{row["inventory"]}}</td>
                     <td>
                           <a href="/update_item" class="button button2" data-toggle="modal" data-target="#modaledit{{row['id']}}">Edit</a>
                           <a href="/delete_item/{{ row['id'] }}" class="button button2" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                           <a style="margin-top: 100px;" href="/upload_image" class="button button2" data-toggle="modal" data-target="#modalimage{{row['id']}}">Add image</a>
                     
                     </td>
                   </tr>

                  <div id="modalimage{{ row['id'] }}" class="modal fade" role="dialog">
                     <div class="modal-dialog">
                        <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">Update Photo</h4>
                              </div>
                              
                              <div class="modal-body">
                                <h1>Upload new Item Photo</h1>
                                    <img id="slect_image" src="{{url_for('static', filename=row['image_path'])}}"  alt="User Image" width="460" height="345">
                                    <form action="{{ url_for('admin.upload_image') }}" method="POST" enctype=multipart/form-data>
                                       <input type="hidden"  name="id" value="{{row['id']}}">
                                       <input type=file name=file  onchange="readURL(this);" >
                                       <input type=submit value=Upload>
                                    </form>
                               </div>
            
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                        </div>
                     </div>
                  </div>


                  <div id="modaledit{{ row['id'] }}" class="modal fade" role="dialog">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Update Information</h4>
                           </div>
                           
                           <div class="modal-body">
                              <form action="{{ url_for('admin.update_item') }}" method="POST">
                                 <div class="form-group">
                                    <label>Name:</label>
                                    <input type="hidden"  name="id" value="{{row['id']}}">
                                    <input type="text" class="form-control" name="name" value="{{row['name']}}">
                                 </div>
                     
                                 <div class="form-group">
                                    <label>Price:</label>
                                    <input type="text" class="form-control" name="price" value="{{row['price']}}">
                                 </div>

                                 <div class="form-group">
                                    <label for="unit" >Select Unit</label>
                                    <select id="unit" name="unit">
                                          <option value="Kg">Kg</option>
                                          <option value="Packet">Packet</option>
                                          <option value="Dozen">Dozen</option>
                                          <option value="litre">litre</option>
                                          <option value="gm">gm</option>
                                          <option value="ml">ml</option>
                                    </select>
                                 </div>
                  

                                 <div class="form-group">
                                       <label>Inventory:</label>
                                      <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                                       <input type="number" name="inventory" id="number" value="{{row['inventory']}}" />
                                        <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                     
                                    </div>

                                    <div class="form-group">
                                       <button class="btn btn-primary" type="sbumit">Update</button>
                                    </div>
                                 </form>
                            </div>
         
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor  %}
               </tbody>
            </table>

        </div>

<!-- Modal -->

<div id="myModal" class="modal fade" role="dialog">

   <div class="modal-dialog">

      <div class="modal-content">

         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Please Insert Data</h4>
         </div>

         <div class="modal-body">
            <form action="{{ url_for('admin.insert_item') }}" method="POST">
               <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
                </div>

               <div class="form-group">
                  <label>Price:</label>
                  <input type="text" class="form-control" name="price" required="1">
               </div>

               <div class="form-group">
                  <label for="unit">Select Unit</label>
                  <select id="unit" name="unit">
                        <option value="Kg">Kg</option>
                        <option value="Packet">Packet</option>
                        <option value="Dozen">Dozen</option>
                        <option value="litre">litre</option>
                        <option value="gm">gm</option>
                        <option value="ml">ml</option>
                  </select>
               </div>

               <div class="form-group">
                     <label>Inventory:</label>
                     <input type="number" name="inventory" class="form-control" value="1" />
               </div>

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Insert new entry</button>
               </div>
            </form>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>


      </div>
   </div>
</div>


    </div>


</div>


{% endblock %}

<script>
     function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#slect_image')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<script>
      // script for drop down
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      
      // Close the dropdown if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
      </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>         
<script type="text/javascript" src="{{url_for('static', filename='js/counter.js') }}"></script>
