<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="{{url_for('static', filename = 'css/table.css')}}" rel="stylesheet">

</head>
<body>

    <h1>Cart</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>quantity</th>
                <th>Remove</th>
              </tr>
        </thead>
      </table>
    </div>

<table>
  
        {% for row in items %}
        
        <tr>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.1}}</td>
                <td><a href="/remove_item/{{ row.0 }}" class="btn danger" onclick="return confirm('Are You Sure For Delete?')">Remove</a></td>
                
        </tr>
       
        {% endfor  %}

        <tr>  
            <th>Total Bill :-</th>
            <th>{{total}}</th>
        </tr>
        
</table>

<a href="/checkout" class="btn btn-success" onclick="return confirm('Are you sure? ')">Place Order</a>
<a href="/user_page" class="btn btn-primary"> Add more to Cart</a> <br><br>
<a href="/clear_cart" class="btn btn-danger" onclick="return confirm('Warning! Cart will be empty?')">Clear Cart</a>

</body>
</html>
