<!DOCTYPE html>
{% include "admin_header.html" %}
<html>
<head>
        <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename = 'css/table.css')}}" rel="stylesheet">

</head>
<body>

<h2 style="margin-left: 550px;">Current Orders</h2>
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
          <tr>
              <th>Order No</th>
              <th>Customer Name</th>
              <th>House No</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
      </thead>
    </table>
  </div>
<table>
  
  
        {% for row in customers_data %}
        
        <tr>
                <td>{{row.0}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.1}}</td>
                <td><a href="/order_detail/{{row.0}}" class="btn btn-primary">Detail</a></td>
                
        </tr>
       
        {% endfor  %}

</table>
<a href="/page" class="btn btn-primary">Go Back</a>
</body>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
</html>