<!DOCTYPE html>
{% include "user_header.html" %}
<html>
<head>
        <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename = 'css/table.css')}}" rel="stylesheet">


</head>
<body>

    <h1>Current Orders</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Order No</th>
                <th>Customer Name</th>
                <th>House No</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
        </thead>
      </table>
    </div>

<table>
  
        {% for row in customers_data %}
        
        <tr>
                <td>{{row.0}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.1}}</td>
                <td><a href="/order_detail/{{row.0}}" class="btn btn-primary">Detail</a>
                <a href="/order_recieved/{{row.0}}" class="btn btn-success">Recieved</a></td>
                
        </tr>
       
        {% endfor  %}

</table>

</body>

<script>
  $(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script> 
</html>