<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="{{url_for('static', filename = 'css/table.css')}}" rel="stylesheet">
</head>
<body>

    <h1>ORDER DETAIL</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>quantity</th>
              </tr>
        </thead>
      </table>
    </div>

<table>  
        {% for row in items %}
        
        <tr>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.1}}</td>
                
        </tr>
       
        {% endfor  %}

        <tr>
            <th>Total Bill :-</th>
            <th>{{total}}.Rs</th>
        </tr>
        
</table>

<a href="/cur_orders" class="button button1">Go Back</a>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>         
</html>
