{% include "user_header.html" %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="{{url_for('static', filename = 'css/storefront.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename = 'css/table.css')}}" rel="stylesheet">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container">
        <main class="grid">
          
            {% for row in items %}
                <article>
                <img src="{{url_for('static', filename=row['image_path'])}}" alt="tshirt photo" width="460" height="290">
                
                <div class="text">
                <h3>{{row["name"]}}</h3>
                <p1>Price: {{row["price"]}}Rs per {{row["unit"]}}</p1>
              
                        <label>Inventory: {{row["inventory"]}}</label>
                       
                        <form action="{{ url_for('user.add_to_cart') }}" method="POST">
                            <div class="form-group">
                                    <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></div>
                                    <input type="number" name="quantity" id="number"  value="1"/>
                                     <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div>
                             </div>
                            
                        
                            <div class="form-group">
                                <input type="hidden" name="itemid" value="{{ row['id'] }}">
                            </div>
                       
                            <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="sbumit">Add to cart</button>
                            </div>
                
            </form>
                </article>
            {% endfor  %}   
         
         
        </main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>     
