{% extends "base_layout.html" %}
{% block content %}
    <div class="container-fluid" style="margin: 10% auto;">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <form action="{% url 'issue:create' %}"  method="post" class='form-control' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                    {{ form.as_p }}
                            </div>
                            <input type="submit" value="Create" class='form-control btn btn-lg btn-success'>
                        </form>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
