/*
  TODO: Move styles to respective components
*/

/*
--------------------------------------------------------------------------
|                 |                                                      |
|                 |                                                      |
|                 |------------------------------------------------------|
|                 |               |                   |                  |
|                 |               |                   |                  |
|       20vw      |    15vw       |      50vw         |         15vw     |
|                 |               |                   |                  |
|                 |               |                   |                  |
|                 |               |                   |                  |
|                 |               |                   |                  |
|                 |               |                   |                  |
|                 |               |                   |                  |
|                 |               |                   |                  |
--------------------------------------------------------------------------
*/

body {
  background-color: rgb(250, 251, 252);
}

.profile-picture {
  border-radius: 50%;
  border: solid 1px rgb(217, 217, 217);
  height: 40px;
  width: 40px;
}

::placeholder {
  font-size: 0.8em;
  opacity: 0.5;
}

.post-prompt {
  opacity: 0.5;
  font-size: 10px;
}

.profile-link {
  color: #0d54af;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.profile-link:hover {
  text-decoration: underline;
}

.add-comment-card {
  border-radius: 0px 0px 0.25rem 0.25rem;
  border-top: none;
  margin-bottom: 15px;
  padding: 10px;
}

.add-comment-card input {
  border: none;
  color: #8d949e;
  font-size: 13px;
  background-color: #f2f3f5;
  border-radius: 50px;
}

.add-comment-card input:focus {
  background-color: #f2f3f5;
  border: solid 1px rgb(217, 217, 217);
  border: none;
  box-shadow: none;
}

.profile-picture-small {
  margin-left: 15px;
  border-radius: 50%;
  border: solid 1px rgb(217, 217, 217);
  height: 32px;
  width: 32px;
}

.add-comment-card .post-prompt {
  margin-left: 57px;
}

.comment-list-card {
  border-radius: 0px 0px 0px 0px;
  border-bottom: none;
  border-top: none;
}

.UserWall {
  position: absolute;
  top: 0px;
  width: 50vw;
  left: 35vw;
}

.user-card {
  position: absolute;
  width: 20vw;
}
