<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WBlog App | Build your own Blogs Here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{% static 'wblog/css/style.css' %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">

        <div class="row">

            <div class="col-md-4"></div>
            <div class="col-md-4">

                <h4>Click "Create new account?"</h4>


                <div class="flip">
                    <div class="card">
                        <div class="face front">

                            <div class="panel panel-default">

                                <form class="form-horizontal" method="post" action="{% url 'wblog:login' %}">
                                    {% csrf_token %}

                                    <br>

                                    <h1 class="text-center">WBlog App</h1>

                                    <br>
                                    {{ form.username }}
                                    {{ form.password }}
                                    {% if form.errors %}
                                    <p>Please try again.</p>
                                    {% endif %} {% if next %} {% if user.is_authenticated %}
                                    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                                    {% else %}
                                    <p>Please login to see this page.</p>
                                    {% endif %} {% endif %}
                                    <p class="text-right"><a href="">Forgot Password</a></p>
                                    <button class="btn btn-primary btn-block">LOG IN</button>
                                    <p class="text-center">
                                        <a href="{% url 'wblog:signup' %}">Create new account?</a>
                                    </p>
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </form>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4"></div>

        </div>

    </div>
    <!-- /.container -->

    <script type="text/javascript">
        $('.fliper-btn').click(function() {
            $('.flip').find('.card').toggleClass('flipped');

        });

    </script>
</body>

</html>
