{% extends "reservation/basetable.html" %}
{% block link %}
<form action="" method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group">
      <label>{{ field.label_tag }}</label><br>
      {{field}}
    </div>
  {% endfor %}
  <div class="form-group">
        <button class="btn btn-success" type="submit">Check Availability</button>
  </div> 
</form>
{% endblock %}

{% block view %}
  {% if rooms %}
    <tr>
      <th>Room #</th>
      <th>Min rent</th>
      <th>Max rent</th>
      <th>Capacity</th>
      <th>Category</th>
      <th>Floor</th>
      <th>Action</th>
    </tr>
  {% endif %}

  {% for room in rooms %}
    <tr>
      <td>{{ room.room_no }}</td>
      <td>{{ room.min_rent }}</td>
      <td>{{ room.max_rent }}</td>
      <td>{{ room.capacity }}</td>
      <td>{{ room.category }}</td>
      <td>{{ room.floor }}</td>
      <td>
        <a href="{% url 'reservation-reserveroom' room.id checkin checkout%}">
          <button class="btn btn-xs btn-primary">Reserve</button>    
        </a>  
      </td>
    </tr>
  {% endfor %}
{% endblock view %}