{% extends "reservation/base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'reservation/table.css' %}" rel="stylesheet">
<div class="container col-sm-12">
    {% block link %}{% endblock %}
</div>

<div class="container col-sm-12 table-responsive">
  <input type="text" class="live-search-box form-control search" placeholder="Search here">
  <table class="table table-striped live-search-list table-condensed">
    <tbody>
      {% block view %}{% endblock %}
    </tbody>
  </table>
</div>

<script src="{% static 'reservation/table-script.js' %}"></script>
{% endblock content %}