{% extends "reservation/basetable.html" %}
{% block link %}
  <a href="/admin/reservation/room" target="_blank">
    <button class="btn btn-success">Update Record</button>
  </a>
{% endblock link %}

{% block view %}
  <tr>
    <th>Room #</th>
    <th>Min rent</th>
    <th>Max rent</th>
    <th>Capacity</th>
    <th>Category</th>
    <th>Floor</th>
  </tr>

  {% for room in rooms %}
    <tr>
      <td>{{ room.room_no }}</td>
      <td>{{ room.min_rent }}</td>
      <td>{{ room.max_rent }}</td>
      <td>{{ room.capacity }}</td>
      <td>{{ room.category }}</td>
      <td>{{ room.floor }}</td>
    </tr>
  {% endfor %}
{% endblock view %}
