<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
        <title>{{ title }} - Flask Demo</title>
    {% else %}
        <title>Welcome to Flask Demo</title>
    {% endif %}
</head>
<body>
<div>Login application demo in flask.</div>
<hr/>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>
