<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <title>Task manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'taskmanager/css/styles.css' %}">#}
    {#    <script src="{% static 'taskmanager/js/scripts.js' %}"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Task Manager</a>
        </div>
        <ul class="nav nav-pills navbar-nav">

            <li class="nav-item"><a class="nav-link active" href="{% url 'task_index' %}">Tasks</a></li>

            {% if user.is_authenticated %}

                <li class="nav-item"><a class="nav-link auth-link" href="{% url 'logout' %}">Logout</a></li>

            {% else %}

                <li class="nav-item"><a class="nav-link auth-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link auth-link" href="{% url 'register' %}">Register</a></li>

            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">

    {% if user.is_authenticated %}

        {% block page_content %}
        {% endblock %}

    {% else %}
        <h3>Please sign in or register!</h3>
        {% block content %}
        {% endblock %}

    {% endif %}

</div>
</body>
