{% extends "base.html" %}
{% block page_content %}

    <div class="container">
        <h4>Create a task:</h4>

        <form action="" method="POST">
            {% csrf_token %}

            {% for field in form %}

                {{ field.label_tag }}
                <br>
                {{ field }}
                {% if field.help_text %}
                    <br>
                    <small class="text-muted">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}

                <br>
                <br>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Create task</button> &nbsp;
            <a class="btn btn-primary" href="{% url 'task_index' %}">Back</a>

        </form>

    </div>

{% endblock %}
