{% extends "base.html" %}
{% block page_content %}

    <div class="container">

        <div class="form-group row">
            <div class="col-sm-4">
                <h3>Update Task Details</h3>
            </div>
        </div>

        <form method="POST" class="post-form" action="">
            {% csrf_token %}

            {% for field in form %}

                {{ field.label_tag }}
                <br>
                {{ field }}
                {% if field.help_text %}
                    <br>
                    <small class="text-muted">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}

                <br>
                <br>
            {% endfor %}

            <button type="submit" class="btn btn-success">Update</button>
            <a class="btn btn-primary" href="{% url 'task_index' %}">Back</a>

        </form>
    </div>

{% endblock %}
