{% extends "base.html" %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock %}

{% block page_content %}

    <a href="{% url 'create_task' %}" class="btn btn-primary"> Create a Task </a>

    <h2 class="tasks-heading">Tasks</h2>
    <hr>

    {% if messages %}
        <div class="row messages">
            <div class="col-sm-6">

                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <p class="alert alert-success">
                            {{ message }}
                        </p>
                    {% endif %}
                    {% if message.tags == 'error' %}
                        <p class="alert alert-danger">
                            {{ message }}
                        </p>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    {% endif %}

    {% if not tasks %}

        <h4>No tasks exist</h4>

    {% else %}

        <div class="row">
        </div>

    {% endif %}

{% endblock %}
