{% extends "base.html" %}
{% block page_content %}

    <h2>{{ task.title }}</h2>

    <div class="row">
        <div class="col-md-4">
            <h6>Task description:</h6>
            <p>{{ task.description }}</p>
            <br>
            <h6>Assigned by:</h6>
            <p>{{ task.assignee }}</p>
            <br>
            <h6>Due on:</h6>
            <p>{{ task.due_date }}</p>
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'task_index' %}">Back</a>

{% endblock %}
