{% extends "customer/base.html" %}
{% block content %}
{% for saloon in saloons %}
{% if saloon.phone_no ==  None %}
{% else %}
<div class="card" style="margin-bottom: 10px; margin-top: 10px">
    <div class="card-header">
        {{ saloon.shop_name }}
    </div>
    <div class="card-body">
        <h5 class="card-title">Phone No : {{ saloon.phone_no }}</h5>
        <p class="card-text">Address : {{ saloon.address }}</p>
        {% if user.is_authenticated %}
        {% if user.customer %}
        <a href="#" class="btn btn-primary">Reserve a time slot</a>
        {% endif %}
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Reserve a time slot</a>
        {% endif %}
    </div>
</div>
{% endif %}


{% endfor %}
{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}
{% endblock content %}