.blog-body {
    font-family: "Poppins", sans-serif;
    background: #fafafa !important;
}

.blog-html {
    position: relative;
    min-height: 100%;
}

::selection {
    background-color: #1abc9c;
    color: #ffffff;
}

::-moz-selection {
    background-color: #1abc9c;
    color: #ffffff;
}

a {
    text-decoration: none !important;
    color: #1abc9c;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #333333;
}

b {
    font-weight: 600;
    color: #333333;
}

p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

button {
    background-color: transparent;
}

*:focus {
    outline: 0;
}

#main {
    margin: 50px 0;
}

.main-color {
    color: #1abc9c;
}

.page-body {
    background: #ffffff;
    box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

.sub-title {
    padding: 30px;
}

.sub-title h2 {
    display: inline-block;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.sub-title i {
    float: right;
    font-size: 35px;
    margin-top: 15px;
}

.content-page {
    padding-top: 30px;
    padding-bottom: 60px;
    border-top: 1px dashed #dedede;
    border-bottom: 1px dashed #dedede;
}

.grabbing {
    cursor: url(../images/owl-carousel/grabbing.png) 8 8, move;
}

.button {
    border: none;
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 60px;
    padding-left: 0px;
    display: inline-block;
    margin: 8px 30px;
    margin-left: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.button-style {
    color: #1abc9c;
    overflow: hidden;
}

.button-style:before {
    position: absolute;
    font-size: 27px;
    line-height: 38px;
    color: #1abc9c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-style:active:before {
    color: #1abc9c;
}

.button-anim:before {
    left: 60%;
    opacity: 0;
    top: 0;
}

.button-anim:hover:before {
    left: 75%;
    opacity: 1;
}


/* Preloader */

.preloader {
    background: #ffffff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.rounder {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
    font-size: 10px;
    border-right: 5px solid #333333;
    border-left: 5px solid #1abc9c;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* About Me (Left Sidebar) */

.about-fixed {
    position: fixed;
    width: 20.8%;
}

.my-pic {
    width: 100%;
    box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

.my-pic img {
    width: 100%;
}

.my-detail {
    text-align: center;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

.my-detail .white-spacing {
    padding: 23px 0;
    border-bottom: 1px dashed #cccccc;
}

.my-detail h1 {
    font-size: 20px;
    font-weight: 700;
}

.my-detail span {
    color: #c1c1c1;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
}


/* About Me Page */

.knowledge {
    list-style: none;
    padding: 2px;
    margin: 0;
    padding-left: 0px;
}

.knowledge:before,
.knowledge:after {
    content: " ";
    display: table;
}

.knowledge:after {
    clear: both;
}

.knowledge li {
    display: inline-block;
    color: #ffffff;
    margin: 4px 4px;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 0.6px;
    margin-left: 0px;
    border-radius: 4px;
    cursor: default;
}


/* My Portfolio */

div.portfolio {
    display: none;
    margin-bottom: 50px;
}

.portfolio img {
    width: 100%;
}

.custom-pad-1 {
    padding-right: 0px;
}

.custom-pad-2 {
    padding-left: 0px;
}

.table {
    margin-bottom: 0px;
}

.table>tbody>tr>td {
    padding: 15px;
    line-height: 25px;
    letter-spacing: 0.6px;
    border: 1px solid #e4e4e4;
}

.table tr>td {
    padding: 11px 13px;
}

tr:nth-child(1)>td {
    border-top: 0px;
}

tr>td:nth-child(1) {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    color: #888888;
    width: 140px;
}

tr>td:nth-child(2) {
    font-weight: 400;
}


/* Owl Carousel Navigation */

.owl-navi {
    color: #333333;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    margin: 5px;
    margin-top: -32px;
    padding: 7px 13px;
    background-color: transparent;
    opacity: 1;
}

.owl-theme .owl-controls {
    margin-top: 0px;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    padding: 5px;
    margin: 0;
    z-index: 100;
    cursor: pointer;
}

.owl-prev {
    left: 2px;
}

.owl-next {
    right: 2px;
}

/* Blog Post & Single Blog Page */

div.blog-post {
    display: none;
    margin-bottom: 50px;
}

.blog-post .post-image img {
    width: 100%;
}

.blog-post .post-image p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.blog-post .post-image a {
    font-weight: 600;
}

.blog-post .post-title h1 {
    color: #333333;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 24px;
}

.blog-post .post-title h2 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.blog-post .post-info {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
    color: #8c8c8c;
}

.blog-post p {
    font-size: 16px;
    line-height: 30px;
    color: #696868;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}

/* List */

.list ul {
    margin-top: 15px;
}

.list li {
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 10px;
}

.list-style li {
    list-style-type: decimal;
}

.list-style-2 li {
    list-style-type: circle;
}


/* Image Popup */

.image-popup {
    cursor: cell;
}

/* Comment */

.comment {}

.comment h3 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: #1abc9c;
    margin-bottom: 35px;
    letter-spacing: 0.5px;
}


/* Footer */

.footer {
    background: url(../images/pattern-bg.png);
    background-repeat: repeat;
    text-align: center;
    padding: 30px 0;
    margin-top: 10px;
}

.footer p {
    color: #797878;
    font-size: 13px;
    line-height: 25px;
    padding: 0px 15px;
    letter-spacing: 1px;
}

.footer li a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
}


/* Responsive */

@media only screen and (max-width: 1199px) {
    .endpage-box {
        display: none !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #menu .menu-link li {
        margin: 2px 3px;
    }
    .my-detail h1 {
        font-size: 18px;
        font-weight: 600;
    }
    .my-detail span {
        font-size: 15px;
        line-height: 29px;
    }
    .social-icon li a {
        width: 30px;
        height: 30px;
        line-height: 33px;
        font-size: 13px;
    }
    .social-icon li {
        margin: 2px 2px;
    }
    .post-quote {
        width: 90%;
    }
    .subscribe-form .text-input {
        font-size: 14px;
    }
    .subscribe-form .submit-btn {
        font-size: 14px;
        width: 100px;
    }
}

@media only screen and (max-width: 991px) {
    .about-fixed {
        position: inherit;
        width: auto;
    }
    .post-quote {
        width: 90%;
    }
}

@media only screen and (max-width: 767px) {
    .video-tutorial {
        width: 100%;
    }
    .custom-pad-1 {
        padding-right: 15px;
    }
    .custom-pad-2 {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 570px) {
    .subscribe-form .text-input {
        font-size: 12px;
    }
    .subscribe-form .submit-btn {
        font-size: 13px;
        width: 90px;
    }
}

@media only screen and (max-width:479px) {
    #main {
        margin: 15px 0;
    }
    .sub-title {
        border-bottom: 1px dashed #cccccc;
        padding: 30px;
        display: inline-block;
        text-align: left;
        width: 100%;
    }
}

@media only screen and (max-width:435px) {
    b {
        font-weight: 500;
    }
    .my-detail h1 {
        font-size: 18px;
        font-weight: 600;
    }
    .my-detail span {
        font-size: 15px;
        line-height: 29px;
    }
    .blog-post .post-title h1 {
        font-size: 22px;
        line-height: 32px;
        font-weight: 600;
    }
    .blog-post .post-title h2 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
    }
    .blog-post .post-info {
        font-size: 13px;
        line-height: 29px;
        font-weight: 400;
    }
    .blog-post p {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }
    .sub-title h2 {
        font-size: 20px;
        font-weight: 600;
    }
    .sub-title i {
        font-size: 25px;
        margin-top: 15px;
    }
    .blog-post .post-image p {
        font-size: 12px;
    }
    .video-box {
        width: 100%;
    }
    .video-tutorial .video-popup:after {
        font-size: 30px;
    }
    .video-tutorial:hover .video-popup:after {
        font-size: 45px;
    }
    .video-box p {
        font-size: 12px;
        line-height: 24px;
    }
    .post-quote {
        width: 100%;
    }
    .post-quote blockquote {
        padding: 40px 15px;
    }
    .list li {
        font-size: 14px;
    }
    .about-author .picture {
        float: none;
    }
    .about-author .c-padding {
        padding: 30px 0px;
    }
    .you-may-also-like h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .comment h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .social-icon li a {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 14px;
    }
    .load-more-button {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 12px;
    }
    .end {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 12px;
    }
    .button {
        font-size: 13px;
        padding: 10px 0px;
        font-weight: 500;
    }
    .button-style:before {
        display: none;
    }
    #mc-form {
        padding: 50px 0px;
    }
    .subscribe-form .text-input {
        font-size: 11px;
    }
    .subscribe-form .submit-btn {
        font-size: 12px;
        width: 80px;
        position: inherit;
        padding: 12px;
        margin-bottom: 5px;
    }
    footer .menu-link a {
        margin: 4px 3px;
    }
    .scroll-to-top {
        font-size: 25px;
    }
}


/* Useful Classes */


/* Spacing ( with Margin and Padding ) */


/* Margin */

.margin-0 {
    margin: 0px !important;
}


/* Margin Top */

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-top-70 {
    margin-top: 70px !important;
}

.margin-top-80 {
    margin-top: 80px !important;
}

.margin-top-90 {
    margin-top: 90px !important;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.margin-top-120 {
    margin-top: 120px !important;
}

.margin-top-150 {
    margin-top: 150px !important;
}

.margin-top-200 {
    margin-top: 200px !important;
}


/* Margin Bottom */

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-70 {
    margin-bottom: 70px !important;
}

.margin-bottom-80 {
    margin-bottom: 80px !important;
}

.margin-bottom-90 {
    margin-bottom: 90px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px !important;
}

.margin-bottom-120 {
    margin-bottom: 120px !important;
}

.margin-bottom-150 {
    margin-bottom: 150px !important;
}

.margin-bottom-200 {
    margin-bottom: 200px !important;
}


/* Padding */

.padding-0 {
    padding: 0px !important;
}


/* Padding Top */

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-top-60 {
    padding-top: 60px !important;
}

.padding-top-70 {
    padding-top: 70px !important;
}

.padding-top-80 {
    padding-top: 80px !important;
}

.padding-top-90 {
    padding-top: 90px !important;
}

.padding-top-100 {
    padding-top: 100px !important;
}

.padding-top-120 {
    padding-top: 120px !important;
}

.padding-top-150 {
    padding-top: 150px !important;
}

.padding-top-200 {
    padding-top: 200px !important;
}


/* Padding Bottom */

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

.padding-bottom-70 {
    padding-bottom: 70px !important;
}

.padding-bottom-80 {
    padding-bottom: 80px !important;
}

.padding-bottom-90 {
    padding-bottom: 90px !important;
}

.padding-bottom-100 {
    padding-bottom: 100px !important;
}

.padding-bottom-120 {
    padding-bottom: 120px !important;
}

.padding-bottom-150 {
    padding-bottom: 150px !important;
}

.padding-bottom-200 {
    padding-bottom: 200px !important;
}


/* Colors */

.color-1 {
    color: #f306a0;
}

.color-2 {
    color: #d60bfb;
}

.color-3 {
    color: #d8be10;
}

.color-4 {
    color: #0fd28a;
}

.color-5 {
    color: #f97400;
}

.color-6 {
    color: #08a6f3;
}


/* Background Color */

.bg-color-1 {
    background-color: #f306a0;
}

.bg-color-2 {
    background-color: #d60bfb;
}

.bg-color-3 {
    background-color: #d8be10;
}

.bg-color-4 {
    background-color: #0fd28a;
}

.bg-color-5 {
    background-color: #f97400;
}

.bg-color-6 {
    background-color: #08a6f3;
}


/* Tooltip Styles */

.tooltip-inner {
    padding: 10px 12px;
    min-width: 150px;
    width: 100%;
}

.tooltip.top {
    margin-top: -2px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.tooltip.bottom {
    margin-top: 15px;
    bottom: auto;
    left: auto;
    right: auto;
}

.tooltip.left {
    margin-right: 15px;
}

.tooltip.right {
    margin-left: 15px;
}

.tooltip-color .tooltip-inner {
    color: #fff;
}


/* UiPasta Credit */

.uipasta-credit {
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

.uipasta-credit a {
    color: #1abc9c;
    font-weight: 600;
}

.uipasta-credit a:hover {
    color: #333333;
}
























.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}

.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}

.post .post-image .image {
    width: 100%;
    height: auto;
}

.post .post-description {
    padding: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
}

.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}

.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.post .post-footer .input-group-addon a {
    color: #454545;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
    margin-left: 50px;
}
textarea {
   resize: none;
}




















































/* Form */

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}

.form .thumbnail {
    background: #EF3B3A;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 50px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}

.form .thumbnail img {
    display: block;
    width: 100%;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #EF3B3A;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.add-blog {
    display: none;
}

.login-container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.login-container:before,
.login-container:after {
    content: "";
    display: block;
    clear: both;
}

.login-container .login-info {
    margin: 50px auto;
    text-align: center;
}

.login-container .login-info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.login-container .login-info span {
    color: #4d4d4d;
    font-size: 12px;
}

.login-container .login-info span a {
    color: #000000;
    text-decoration: none;
}

.login-container .login-info span .fa {
    color: #EF3B3A;
}

.login-body {
  background: #ccc;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.login-body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}



.login-error, .register-error {
    color: #D8000C;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-align: center;
}









.circle-button {
  border: none;
  outline: none;
}

.circle-wrapper {
  position: absolute;
  top: 10%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}

.circle {
  position: relative;
  padding: 0;
  z-index: 98;
  margin: 0 auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #1abc9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
}
.circle img {
  margin: auto;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.circle:hover {
  cursor: pointer;
  background-color: #44ada6;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

































































/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------

Form

-------------------------------- */
.cd-form {
  margin: 1em auto;
}
.cd-form::after {
  clear: both;
  content: "";
  display: table;
}
.cd-form fieldset {
  margin: 24px 0;
}
.cd-form legend {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #ecf0f1;
}
.cd-form div {
  /* form element wrapper */
  position: relative;
  margin: 20px 0;
}
.cd-form h4, .cd-form .cd-label {
  font-size: 1.3rem;
  color: #313131;
  margin-bottom: 10px;
}
.cd-form .cd-label {
  display: block;
}
.cd-form input, .cd-form textarea, .cd-form select, .cd-form label {
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select {
  /* general style for input elements */
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
  outline: none;
  border-color: #1abc9c;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.cd-form .cd-select {
  /* select element wapper */
  position: relative;
}
.cd-form .cd-select::after {
  /* arrow icon for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-form select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.cd-form select::-ms-expand {
  display: none;
}
.cd-form .cd-form-list {
  margin-top: 16px;
}
.cd-form .cd-form-list::after {
  clear: both;
  content: "";
  display: table;
}
.cd-form .cd-form-list li {
  /* wrapper for radio and checkbox input types */
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 26px 16px 0;
  float: left;
}
.cd-form input[type=radio],
.cd-form input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-form input[type="radio"] + label,
.cd-form input[type="checkbox"] + label {
  padding-left: 24px;
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="checkbox"] + label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after {
  border-radius: 50%;
}
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  border-radius: .25em;
}
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::after {
  background-color: #1abc9c;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}
.cd-form input[type="radio"] + label::after {
  /* custom image for radio button */

}
.cd-form input[type="checkbox"] + label::after {
  /* custom image for checkbox */
}
.cd-form input[type="radio"]:focus + label::before,
.cd-form input[type="checkbox"]:focus + label::before {
  /* add focus effect for radio and check buttons */
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
}
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::after {
  display: block;
}
.cd-form input[type="radio"]:checked + label::before,
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::before,
.cd-form input[type="checkbox"]:checked + label::after {
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}
.cd-form textarea {
  min-height: 200px;
  resize: vertical;
  overflow: auto;
}
.cd-form input[type="submit"] {
  /* button style */
  border: none;
  background: #1abc9c;
  border-radius: .25em;
  padding: 10px 20px;
  color: #ffffff;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .cd-form input[type="submit"]:hover {
  background: #42a2e1;
}
.cd-form input[type="submit"]:focus {
  outline: none;
  background: #2b3e51;
}
.cd-form input[type="submit"]:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.cd-form [required] {
}
.cd-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: .25em;
  padding: 16px;
}
.cd-form .error {
  border-color: #e94b35 !important;
}
@media only screen and (min-width: 600px) {
  .cd-form div {
    /* form element wrapper */
    margin: 32px 0;
  }
  .cd-form legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 20px;
  }
  .cd-form h4, .cd-form .cd-label {
    font-size: 1.0rem;
    margin-bottom: 10px;
  }
  .cd-form input[type="text"],
  .cd-form input[type="email"],
  .cd-form textarea,
  .cd-form select {
    padding: 16px;
  }
}

@-webkit-keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes cd-bounce {
  0%, 100% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
}
@keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
/* --------------------------------

Custom icons

-------------------------------- */

/* --------------------------------

FLoating labels

-------------------------------- */
.js .floating-labels div {
  margin: 28px 0;
}
.js .floating-labels .cd-label {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.6rem;
  cursor: text;
  -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
  -moz-transition: top 0.2s, left 0.2s, font-size 0.2s;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.js .floating-labels .icon .cd-label {
  left: 56px;
}
.js .floating-labels .cd-label.float {
  /* move label out the input field */
  font-size: 1.2rem;
  top: -16px;
  left: 0 !important;
}
@media only screen and (min-width: 600px) {
  .js .floating-labels legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 16px;
  }
  .js .floating-labels .cd-label {
    top: 20px;
  }
}


