{% load staticfiles %}
<link href={% static 'tellme/feedback.min.css' %} rel="stylesheet">

    <h1> {{ post.title }} </h1> <br>

    <h2> Author : {{ post.author }} </h2>

    <p>
        {{ post.body }}
    </p>

    <p>Current Vote: {{ like_post }}</p>
    <form action="" method="post">
        {% csrf_token %}
        <input name="vote" type="submit" value="up_vote" />
        <input name="vote" type="submit" value="down_vote" />
    </form>

    <h2> Comments :</h2>

    {% for comment, comment_likes in comments %}
        <li>
            {{ comment.body }}
        </li>

        <p>Current Vote: {{ comment_likes }}</p>

        <form action="" method="post">
            {% csrf_token %}
            <input name="comment_id" type="hidden" value={{ comment.id }} />
            <input name="commentvote" type="submit" value="up_vote" />
            <input name="commentvote" type="submit" value="down_vote" />
        </form>

    {% endfor %}


    {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}">Logout</a></li>
   {% endif %}
<br>
<button type="button" id="feedback-btn" class="btn btn-info vertical-right-aligned">
    Feedback <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
</button>
{%  include 'tellme/js_inc.html' %}