{% extends "base.html" %}



{% block class-navbar-home %}
    class="active"
{% endblock %}


{% block content-body %}



    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                {% if object_list %}

                    <div class="row">

                        {% for brand in object_list %}

                            <div class="col-xs-3 no-padding">
                                <div class="thumbnail" style="height: 400px; width: 235px">
                                    <a href={% url 'super_store:brand-products-list' brand.name %}>
                                        <img src="{{brand.image_icon.url}}" alt="{{brand.name}}" style="height: 300px">
                                        <div class="caption">
                                            <p class="text-center">
                                                {{brand.name}}
                                            </p>
                                            <p class="text-center">
                                                <a href={{brand.brand_link}}>
                                                    Go to brand's page
                                                </a>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                {% else %}
                    <h3>  No brands exist</h3>
                {% endif %}

            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            </div>

        </div>
    </div>
{% endblock %}

