{%extends 'base.html'%}
{% block content %}
<div class="container">
    <p class="h4 text-primary">Add Question for Quiz  <strong class="text-dark">{{quiz.name}}</strong> </p>
    <p class="lead">Clicking Save and Continue will be redirected to Option page</p>
  <p class="mark">You can Also <abbr title="During Quiz, The question will not be loaded." class="initialism">Draft</abbr> this Question.</p>

    <form class="form-group " method="POST">
        {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <label>{{ field.label_tag }}</label><br>
            {{field}}
          </div>
          {% endfor %}
                    <button class="btn btn-primary" href="/">Draft</button>
                      <input type="submit" class="btn btn-success" value="Save And Continue">

    </form>

</div>
{%endblock%}