{%extends 'base.html'%}
{% block content %}

<div class="container">

    <p class="lead">Add options and marked the correct </p>
    <mark class="h4 mark text-primary">{{question.text}}</mark>
    <br>
    <br>
    <form method="POST" id="form_id" onsubmit="return validateForm()">
            {% csrf_token %}
        <input  type="text" name="A" required>
        <input  type="radio" name="Correct" value="A" required>
        <br>
        <br>
        <input type="text" name="B"required>
        <input type="radio" name="Correct" value="B" >
        <br>
        <br>
        <input type="text" name="C" required>
        <input type="radio" name="Correct" value="C">
        <br>
        <br>
        <input type="text" name="D" required>
        <input type="radio" name="Correct" value="D">
        <br>
        <br>
        <input class="btn btn-success" value="Save" type="submit">
    </form>
</div>
<script>
        function validateForm()
        {
            var msg= "",
                fields = document.getElementById("form_id").getElementsByTagName("input");
            
            for (var i=0; i<fields.length; i++){
                if(fields[i].type.toLowerCase() == "text"){
                    inp = fields[i].value.trim() 
                if (inp == "") 
                    msg += 'Input Field can not be blank. \n';
                }
            }
        
            if(msg) {
                alert(msg);
                return false;
            }
            else
                return true;
        }
</script>
{%endblock%}