{%extends 'base.html'%}
{% block content %}
<div class="container">
    <p class="h4 text-primary">Add Question for Quiz  <strong class="text-success h1">{{quiz.name}}</strong> </p>
    <p class="lead">Clicking Save and Continue will be redirected to Option page</p>

    <form class="form-group " method="POST">
        {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <label>{{ field.label_tag }}</label><br>
            {{field}}
          </div>
          {% endfor %}
                      <input type="submit" class="btn btn-success" value="Save And Continue">

    </form>

</div>
{%endblock%}