{%extends 'base.html'%}
{% block content %}
<div class="container">
        <form class="form-group" method="POST">
                {% csrf_token %}
            {%for answer in answers%}
            <input type="text" name="{{answer.pk}}" value="{{answer.text}}" required>
            <input type="radio" name="correct" value="{{answer.pk}}" required>
            <br>
            {%endfor%}
                <input type="submit">
        </form>
        <a href="{% url 'quiz_list'%}">Go back</a>
</div>
{%endblock%}