{%extends 'base.html'%}
{% block content %}
<div class="container">
        <form class="form-group" method="POST">
                {% csrf_token %}
            {%for answer in answers%}
            <input type="text" name="{{answer.pk}}" value="{{answer.text}}" required>
            <input type="radio" name="correct" value="{{answer.pk}}" required>
            <br>
                <input type="submit">
                        {%empty%}
            <kbd class="h4 text-white">No Options</kbd>
            {%endfor%}
        </form>
        <a href="{% url 'home'%}">Go back</a>
</div>
{%endblock%}