{%extends 'base.html'%}
{% block content %}

<div class="container">

    {%if not quizzes%}
                            <p class="text-danger h1 text-center">Sorry, No Quiz To show. <a class="btn btn-lg btn-success" href="{%url 'add_quiz' %}">Add Quiz</a> </p>
    {%else%}
<table id="example" class="table table-hover display">
        <thead>
          <tr>
            <th>Quiz</th>
              <th>Questions</th>
              <th>Attempts</th>
            <th>Result</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
                {%for quiz in quizzes%}
          <tr>
            <td>{{quiz.name}}</td>
              <td>{{quiz.questions.all.count}}</td>
            <td><kbd class="font-weight-bold">{{quiz.taken_quizzes.all.count}}</kbd></td>
            <td><a class="btn btn-info" href="{%url 'quiz_result' quiz.pk%}">Show</a></td>
            <td>
                <a class="btn btn-dark" href="{%url 'quiz_details' quiz.pk%}">Details</a>
                <a class="btn btn-danger" href="{%url 'delete_quiz' quiz.pk%}">Delete</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    {%endif%}

</div>

{% endblock %}
{%block js%}
<script>
$(document).ready( function () {
    $('#example').DataTable();
} );
</script>
{% endblock %}
