{%extends 'base.html'%}
{% block content %}
<div class="container">
    <h3 class="shadow-none p-4 mb-4 bg-light w-100 bg-dark text-light text-center">{{quiz.name}}</h3>
    <a class="btn btn-outline-success" href="{%url 'add_question' quiz.pk%}">Add Questions</a>
    <a class="btn btn-outline-danger" href="{%url 'delete_quiz' quiz.pk%}">Delete Quiz</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Question</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
        <tr>
            <td>{{question.text}}</td>
            <td>
                <a class="btn btn-outline-dark" href="{%url 'question_detail' question.pk%}">Details</a>
                <a class="btn btn-outline-danger" href="{%url 'delete_question' question.pk%}">Delete</a>
                {%if not question.answers.exists %}
                <a class="btn btn-outline-danger" href="{%url 'add_options' question.pk%}">Add options for this
                    question</a>
                {%endif%}
            </td>
        </tr>
        {% empty %}

        </tbody>
    </table>
    <kbd>Sorry, No Questions, Add right away</kbd>
    <br>
    {%endfor%}

</div>
{% endblock %}
