{%extends 'base.html'%}
{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}

        {%for index, question in questions%}

        <div class="p-3 mb-2 bg-dark text-white">
            <span class="bg-success text-dark rounded-circle px-3 py-1 mx-2 h3"> {{index}}</span> <span class="h3">{{question.text}}</span>
        </div>
        {% for answer in question.answers.all %}
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input" id="{{question.pk}}" name="{{question.pk}}" value="{{answer.pk}}" required>
                </div>
            </div>
            <label class="form-control" >{{answer.text}}</label>
        </div>
        {%endfor%}
        {%endfor%}
        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Show Result">
        </div>
    </form>
</div>
{%endblock%}