#navbar{
    background: #233870
}

#category-text{
    color: #233870;
    font-size: 20px
}

#author-name{
    font-style: italic
}

.btn{
    background: #233870
}

.btn:hover{
    background: #4d67b1
}

.card-content h5 a:hover{
    text-decoration: underline
}

.pagination li.active {
    background-color: #233870 !important
}
