<style>
    ui-select ul {
        border-radius: 5px;
    }
</style>
<div ng-controller="SearchCtrl">
    <ol class="breadcrumb">
        <li>DOCKETDASH</li>
        <li class="active">{{navigation}}</li>
    </ol>
    <div class="well well-lg container">

        <div class="row">
            <form class="form-inline">
                <div class="form-group col-xs-12 col-md-6 col-lg-2">
                    <label for="states">STATES</label>
                    <ui-select ng-model="select2states.states" theme="select2" multiple class="form-control"
                               style="padding: 0!important; height: auto;">
                        <ui-select-match placeholder="Select State(s)">
                            {{$item.name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="document in states| propsFilter: {name: $select.search}">
                            <div ng-bind-html="document.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group col-md-4 col-lg-2">
                    <label for="keyword">KEYWORD</label>
                    <input type="text" class="form-control" ng-model="keyword" id="keyword"
                           placeholder="Enter Term">
                </div>

                <div class="form-group col-md-4 col-lg-2">
                    <label for="scope">SEARCH SCOPE</label>
                    <select class="js-example-basic-single form-control" ng-model="scope" id="scope">
                        <option value="all">All Content</option>
                        <option value="meta-data">Meta Data Only</option>
                        <option value="state-id">Docket Number</option>
                        <option value="major-parties">Major Parties</option>
                    </select>
                    <!--<input type="text" class="form-control" id="scope" placeholder="All Content">-->
                </div>

                <div class="form-group col-md-4 col-lg-2">
                    <label for="filingbefore">LATEST FILING</label>
                    <datepicker date-format="yyyy-MM-dd">
                        <input type="text" class="form-control" id="filingbefore"
                               ng-model="filingBefore"
                               placeholder="Lastest filling Before">
                    </datepicker>
                    <datepicker date-format="yyyy-MM-dd">
                        <input type="text" class="form-control" id="filingafter"
                               ng-model="filingAfter"
                               placeholder="Last filling After">
                    </datepicker>
                </div>
                <div class="form-group col-md-4 col-lg-2">
                    <label for="sort">ORDER CATAGORY</label>
                    <select class="js-example-basic-single form-control" ng-model="type" id="sort">
                        <option value="state_id">Docket Number</option>
                        <option value="title">Title</option>
                        <option value="state">State</option>
                        <option value="filing_count"># Filings</option>
                        <option value="latest_filing_updated_on">Latest Filing</option>
                        <option value="filed_on">Date</option>
                        <option value="status">Status</option>
                    </select>
                    </div>
                    <!--<input type="text" class="form-control" id="scope" placeholder="All Content">-->
                    <div class="form-group col-md-4 col-lg-2">
                    <label for="sort">ORDER TYPE</label>
                    <select class="js-example-basic-single form-control" ng-model="order">
                        <option value="ASC">Ascending</option>
                        <option value="DESC">Descending</option>

                    </select>
                    <!--<input type="text" class="form-control" id="scope" placeholder="All Content">-->
                </div>

                <div class="form-group col-md-4 col-lg-2 " style=" float: right;">
                    <div>
                        <label for="docket-search"><a ng-click="clearForm()"><span
                                class="glyphicon glyphicon-remove"></span>Clear</a></label>
                    </div>

                    <button type="submit" id="docket-search" ng-click="click_dockets()" class="btn btn-success form-control">
                        Search
                    </button>
                </div>
            </form>
        </div>
        <div ng-if="dockets.length" >
            <h4 style="text-align: center;">Docket Found: {{dockets_found}}</h4>
        </div>
    </div>

    <div class=" well container table-container" style="padding: 30px" ng-if="dockets.length" >
        <table  class="table table-striped">
            <thead>
            <tr>
                <th>DOCKET NUMBER</th>
                <th>TITLE</th>
                <th>STATE</th>
                <th># FILINGS</th>
                <th>LATEST FILING</th>
                <th>DATE</th>
                <th>STATUS</th>
                <th>FAVORITE</th>
            </tr>

            </thead>
            <tbody  infinite-scroll="getNextDockets()"
                    infinite-scroll-disabled="disable_scroll"
                    infinite-scroll-distance="1">
            <tr ng-repeat="docket in dockets">
                <td>{{docket.state_id}}</td>
                <td><a ng-href="#dockets/{{docket.id}}">{{docket.title}}</a></td>
                <td>{{docket.state}}</td>
                <td>{{docket.filing_count}}</td>
                <td>{{docket.latest_filing_update_on}}</td>
                <td>{{docket.filed_on}}</td>
                <td>{{docket.status}}</td>
                <td>
                    <a href="#"> <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div ng-show='disable_scoll'>Loading data...</div>

    </div>

</div>




