<div class=" well container" ng-show= dockets>
    <h1></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>DOCKET NUMBER</th>
            <th>TITLE</th>
            <th>STATE</th>
            <th># FILINGS</th>
            <th>LATEST FILING</th>
            <th>DATE OPENED</th>
            <th>STATUS</th>
            <th>FAVORITE</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="docket in dockets">
            <td>{{docket.state_id}}</td>
            <td>{{docket.title}}</td>
            <td>{{docket.state}}</td>
            <td>{{docket.filing_count}}</td>
            <td>{{docket.latest_filing_update_on}}</td>
            <td>{{docket.filed_on}}</td>
            <td>{{docket.status}}</td>
            <td></td>

        </tr>
        </tbody>
    </table>
</div>