body{
    background: rgba(166, 166, 166, 0.17);
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #939393;
    color: white;
    text-align: center;
}
.navbar-custom {
    background-color: rgba(1, 110, 45, 0.76);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}
.navbar-custom .navbar-nav .nav-link:hover{
    background: rgba(0, 62, 25, 0.76);
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: rgba(0, 62, 25, 0.76);
}
.navbar-custom .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    color: white;
}
.form-error{
    background: rgba(255,65,20,0.77);
    color: white;
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 3px;
}
