{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}" />

<h1>Todo application</h1>
{% if user.is_authenticated %}
User: {{ user.get_username }}
<li><a href="/accounts/logout">Logout</a></li>
{% else %}
<li><a href="/accounts/login">Login</a></li>
{% endif %}
<table>
    <tr>
        <th>Description</th>
        <th>Date Created</th>
        <th>Status</th>
    </tr>
    {% if todo_items %} 
        {% for item in todo_items %}
            <tr>
                <td><a href="{% url 'todo:detail' item.id %}">{{ item.description }}</a></td>
                <td>{{ item.date_created }}</td>
                <td>{{ item.status }}</td>
                {% if perms.todo.is_manager %}
                <td>{{ item.user }}</td>
                {% endif %}
            </tr>
        {% endfor %} 
    {% endif %}
</table>

<br />

<h2>Add item</h2>
<form action="add_item/" method="post">
    {% csrf_token %}
    <input type="text" name="description" placeholder="What to do?" required="required"/>
    <input type="hidden" name="user" value="{{ user.id }}" required="required" />
    <button type="submit">Add</button>
</form>