<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Creepster|Audiowide' rel='stylesheet' type='text/css'>
    <link href='{% static 'web/css/404.css' %}' rel='stylesheet' type='text/css'>
    <title>404 Not Found</title>
</head>
<body>

<p class="error-code">
    404
</p>

<p class="not-found">Not<br/>Found</p>

<div class="clear"></div>
<div class="content">
    The page your are looking for is not found.
    <br>
    <a href="{% url 'index' %}">Go Home</a>
    or
    <br>
    <br>
</div>
</body>
</html>