{% extends "registration/base.html" %}
{% block title %}
    {{user.get_full_name}}
{% endblock title %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="/{% static 'css/style.css' %}">
{% endblock head %}
{% block content %}

    <h2>{{user.get_full_name}}</h2>
    <div>
        {% if user.userprofile.image %}
            <img class="dp" src="/{{user.userprofile.image.url}}" />
        {% endif %}
    </div>
    <div>
        <ul>
            <li>Username: {{user.username}}</li>
            {% if user.userprofile.country %}
                <li>Country: {{user.userprofile.country.name}} <img src="/{%static 'registration/flags'%}/{{user.userprofile.country|lower}}.gif" /></li>
            {% endif %}
            <li>Address: {{user.userprofile.address.raw}}</li>
            <li>Phone #: {{user.userprofile.phone_number}}</li>
            <li>Email: {{user.email}}</li>
        </ul>
    </div>
{% endblock content %}
