{% extends "registration/base.html" %}
{% block title %}
    Edit
{% endblock title %}
{% block sidebar %}
    {{ block.super }}
    <li><a href="{%url 'registration:details'%}">Details</a></li>
{% endblock %}
{% block heading %}
    Edit Profile
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-7"> 
        <form action='' enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            {{ form }}
            {{profileform}}
            {{userform}}
            <input type="submit" value="Save" />
    </div>
    <div class="col-md-2"> </div>
</div>
{% endblock content %}
