<html>
<header>
    <title>Entrepreneurs Hub</title>
</header>
<body>
<h3>Welcome to Entrepreneurs Hub</h3>
    <form  method="post" action="/ehub/login/">
        {% csrf_token %}
         {{ form.as_p }}
        {% if form.errors %}
            <p>
                Your username and password didn't match.
                Please try again.
            </p>
        {% endif %}
        <input type="submit" value="Login"/>
        <p>Don't have an account? <a href="/ehub/signup/">Sign Up</a></p>
    </form>
</body>
</html>