Django==1.11.2
django-cors-headers==2.1.0
djangorestframework==3.6.3
gunicorn==19.7.1
mock==2.0.0
olefile==0.44
pbr==3.1.1
Pillow==4.2.1
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0
sqlparse==0.2.3
whitenoise==3.3.0
