{% extends "authentication/base.html" %}
{% block title %}Login{% endblock %}
{% block content_title %}Login{% endblock %}
{% block content %}
    {% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
    {% endif %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td><input type="submit" value="Login" name="login"></td>
                <td><button onclick="location.href='{% url 'authentication:signup' %}'" type="button">Signup</button></td>
            </tr>
        </table>
    </form>
{% endblock %}