{% extends 'common/base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Login</h4></div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'user/profile/form_template.html' %}
                            {% if form.non_field_errors %}
                                <div class="form-group col-sm-12" >
                                    {% for error in form.non_field_errors %}
                                        <div class="form-error">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a href="{% url 'user:register' %}">
                                        <button type="button" class="btn btn-info">
                                            Register
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
