{% extends 'base.html' %}
<html>
<body>
  {% block content %}

  <div class="jumbotron">
    <b style="font-size:40px; font-family:georgia">Books</b>
  </div>




      <div class="article-metadata">
        <ul>
        <h2><a href="{% url 'book_detail' book.id  %}">Title: {{ book.title }}</a></h2>
        <small class="text-muted">Author: {{ book.author_name}}</small>
        <small class="text-muted">Publisher: {{ book.publisher}}</small>
        </ul>
       </div>
            



    {% endblock %}
</body>
</html>