{% extends 'base.html' %}

{% block content %}
      <div class="article-metadata">
        <h1 style="font-weight:bold;font-family:georgia;color:firebrick;">Book Title: {{ object.title }}</h1>
        <p class="article-content">Author Name: {{ object.author_name }}</p>
        <p class="article-content">Publisher: {{ object.publisher }}</p>
        <p class="article-content">Number of Books: {{ object.number_of_books }}</p>
      </div>
      <div>
      {% if object.number_of_books > 0 %}
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'book_request' object.id %}">Issue Book Request</a>
      {% endif %}

        {% if book.user == user %}       
        <a type="submit" class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'book-update' book.id %}">Update</a>
        <a type="submit" class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'book-delete' book.id %}">Delete</a>
        </div>
        {% endif %}
{% endblock content %}