{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}


{% endif %}
<div class="jumbotron">
    <b style="font-size:60px; font-family:georgia">Issued Books</b>
  </div>
    {% for book in books %}

            <div class="article-metadata">
              {% if user.username == book.user.username %}
           
      
                <p>Issued Book: {{ book.book.title}}</p>
                <p>Issue_date: {{ book.issue_date}}</p>
                <p>return_date: {{ book.return_date}}</p>
                <div>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'isuebook_delete' book.id %}">Return Book</a>
                
            </div>
              {% endif %}
            </div>
            
            

    {% endfor %}

    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'book-home'  %}">Back to Books</a>
{% endblock content %}