<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Sign In</title>
      <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
      <script src="./Signin Template for Bootstrap_files/ie-emulation-modes-warning.js"></script>
   </head>
   <body>
      <div class="container">
         <form class="form-signin" action="" method="POST">
            <h2 class="form-signin-heading">Please Sign In</h2>
            {{ signin_form.email(placeholder="Email",id="inputEmail", class="form-control", autofocus="") }}
            {{ signin_form.password(placeholder="Password",id="inputPassword", class="form-control", required="") }}
            {{ signin_form.submit(class="btn btn-lg btn-primary btn-block")}}
            <div class="noacc">
               Don't have an account! <a href="{{ url_for('signup') }}">Sign Up Here</a>
            </div>
         </form>
      </div>
      <div class="erorr">
         {% for message in get_flashed_messages() %}
         <div class="flash">{{ message }}</div>
         {% endfor %}
      </div>
      <script src="./Signin Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>
   </body>
</html>
