<!DOCTYPE html> {% load static %}
<html lang="en" class="blog-html">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Wblog App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% include 'includes/header.html' %}
</head>

<body class="blog-body">
    {% block menu %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
                <a target="_blank" href="#" class="navbar-brand">WBlog App</a>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="rounder"></div>
    </div>
    <!-- Preloader End -->

    <div id="main">
        <div class="container">
            <div class="row">
                <!-- About Me (Left Sidebar) Start -->
                {% block aboutme %}
                <div class="col-md-3">
                    <div class="about-fixed">

                        <div class="my-pic">
                            <img src="{% static 'images/my-pic.png' %}" alt="">
                        </div>

                        <div class="my-detail">

                            <div class="white-spacing">
                                <h1 class="username"></h1>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
                <!-- About Me (Left Sidebar) End -->
                {% block add_blog_button %}{% endblock %}
                <!-- Blog Post (Right Sidebar) Start -->
                {% block blog_size %}
                <div class="col-md-9">
                    {% endblock %}
                    <div class="col-md-12 page-body">
                        <div class="row">
                            <div class="col-md-12 content-page">

                                <div class="col-md-12 blog-content list-blog">

                                    {% block blog %}{% endblock %}

                                </div>
                                {% block add_blog %}{% endblock %}


                            </div>
                        </div>
                    </div>

                    <!-- Footer Start -->
                    <div class="col-md-12 page-body margin-top-50 footer">
                        <footer>
                            <p>© Copyright 2016 DevBlog. All rights reserved</p>
                            <!-- UiPasta Credit Start -->
                            <div class="uipasta-credit">Design By <a href="http://www.uipasta.com" target="_blank">UiPasta</a></div>
                            <!-- UiPasta Credit End -->
                        </footer>
                    </div>
                    <!-- Footer End -->
                </div>
                <!-- Blog Post (Right Sidebar) End -->
            </div>










        </div>
    </div>
</body>

</html>
