<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Wblog App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    {% block script %}{% endblock %}

</head>

<body>
    {% block menu %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
                <a target="_blank" href="#" class="navbar-brand">WBlog App</a>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="rounder"></div>
    </div>
    <!-- Preloader End -->

    <div id="main">
        <div class="container">
            <div class="row">
                <!-- About Me (Left Sidebar) Start -->
                {% block aboutme %}
                <div class="col-md-3">
                    <div class="about-fixed">

                        <div class="my-pic">
                            <img src="{% static 'images/my-pic.png' %}" alt="">
                        </div>

                        <div class="my-detail">

                            <div class="white-spacing">
                                <h1 class="username"></h1>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
                <!-- About Me (Left Sidebar) End -->
                <!-- Blog Post (Right Sidebar) Start -->
                {% block blog_size %}
                <div class="col-md-9">
                    {% endblock %}
                    <div class="col-md-12 page-body">
                        <div class="row">

                            <div class="sub-title">
                                <h2>WBlogs</h2>
                                <a href="contact.html"><i class="icon-envelope"></i></a>
                            </div>
                            <div class="col-md-12 content-page">

                                {% block blog %}{% endblock %}

                            </div>
                        </div>
                    </div>

                    <!-- Footer Start -->
                    <div class="col-md-12 page-body margin-top-50 footer">
                        <footer>
                            <ul class="menu-link">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Work</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            <p>© Copyright 2016 DevBlog. All rights reserved</p>
                            <!-- UiPasta Credit Start -->
                            <div class="uipasta-credit">Design By <a href="http://www.uipasta.com" target="_blank">UiPasta</a></div>
                            <!-- UiPasta Credit End -->
                        </footer>
                    </div>
                    <!-- Footer End -->
                </div>
                <!-- Blog Post (Right Sidebar) End -->
            </div>
        </div>
    </div>
</body>

</html>
