{% extends 'blog/base.html' %} {% block add_blog_button %}
<div class="circle-wrapper">
    <button class="circle circle-button" data-toggle="modal" data-target="#squarespaceModal">
     <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/btw_ic_speeddial_white_24dp_2x.png" alt="" />
  </button>
</div>
{% endblock %} {% block blog %}
<script>
    populate_blog_page();

</script>
{% endblock %} {% block add_blog %}

<div class="col-md-12 blog-content add-blog">

    <form class="cd-form">

        {% csrf_token %}
        <div class="icon">
            <label class="cd-label" for="title">Title</label>
            <input class="user" type="text" name="title" id="title" required>
        </div>


        <div class="icon">
            <label class="cd-label" for="text"></label>
            <textarea class="message" name="text" id="text" required></textarea>
        </div>
        <div class="icon">
            <label class="cd-label" for="summary"></label>
            <textarea class="message" name="summary" id="summary" placeholder="Summary" required></textarea>
        </div>


        <div>
            <h4>Features</h4>

            <ul class="cd-form-list">
                <li>
                    <input type="checkbox" id="is_published" name="is_published">
                    <label for="is_published">Published</label>
                </li>
                <li>
                    <input type="checkbox" id="is_public" name="is_public">
                    <label for="is_public">Public</label>
                </li>
                <li>
                    <input type="checkbox" id="comments_allowed" name="comments_allowed">
                    <label for="comments_allowed">Comments</label>
                </li>
            </ul>
            <input type="submit" value="Save"></div>
    </form>

</div>
{% endblock %}
