{% extends 'blog/base.html' %} {% load static %}
{% block aboutme %}{% endblock %}
{% block blog_size %}
<div class="col-md-12">
{% endblock %}
{% block blog %}
<div class="col-md-12 blog-post">
    <!-- Post Comment (Disqus) Start -->
    <div id="comment" class="comment">
        <h3>Discuss about post</h3>


        <div class="container">
            <div class="row">
                <div class="comments-list col-sm-10">

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="well well-lg">
                        <div class="media1">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" width="80px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACDUlEQVR4Xu2Yz6/BQBDHpxoEcfTjVBVx4yjEv+/EQdwa14pTE04OBO+92WSavqoXOuFp+u1JY3d29rvfmQ9r7Xa7L8rxY0EAOAAlgB6Q4x5IaIKgACgACoACoECOFQAGgUFgEBgEBnMMAfwZAgaBQWAQGAQGgcEcK6DG4Pl8ptlsRpfLxcjYarVoOBz+knSz2dB6vU78Lkn7V8S8d8YqAa7XK83ncyoUCjQej2m5XNIPVmkwGFC73TZrypjD4fCQAK+I+ZfBVQLwZlerFXU6Her1eonreJ5HQRAQn2qj0TDukHm1Ws0Ix2O2260RrlQqpYqZtopVAoi1y+UyHY9Hk0O32w3FkI06jkO+74cC8Dh2y36/p8lkQovFgqrVqhFDEzONCCoB5OSk7qMl0Gw2w/Lo9/vmVMUBnGi0zi3Loul0SpVKJXRDmphvF0BOS049+n46nW5sHRVAXMAuiTZObcxnRVA5IN4DJHnXdU3dc+OLP/V63Vhd5haLRVM+0jg1MZ/dPI9XCZDUsbmuxc6SkGxKHCDzGJ2j0cj0A/7Mwti2fUOWR2Km2bxagHgt83sUgfcEkN4RLx0phfjvgEdi/psAaRf+lHmqEviUTWjygAC4EcKNEG6EcCOk6aJZnwsKgAKgACgACmS9k2vyBwVAAVAAFAAFNF0063NBAVAAFAAFQIGsd3JN/qBA3inwDTUHcp+19ttaAAAAAElFTkSuQmCC" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                                <form class="comment-form">
                                    {% csrf_token %}
                                    <div class="form-group" style="padding:12px;">
                                        <textarea class="form-control noresize comment-text" placeholder="Comment"></textarea>
                                        <button class="btn btn-info pull-right submit-comment" style="margin-top:10px" type="button">Share</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- well-sm -->
                </div>
            </div>
        </div>
    </div>
    <!-- Post Comment (Disqus) End -->
</div>


{% endblock %}