{% extends 'base.html' %}

{% block extra_head %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock %}

{% block content %}
    <h2>Login</h2>

    <div class="container">
        {% if messages %}
            <div class="row messages">
                <div class="col-sm-6">

                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <p class="alert alert-success">
                                {{ message }}
                            </p>
                        {% endif %}
                        {% if message.tags == 'error' %}
                            <p class="alert alert-danger">
                                {{ message }}
                            </p>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% endif %}

        <form method="POST" action="{% url 'login_user' %}">
            {% csrf_token %}

            {% if form.errors %}
                <h5 class="text-danger">Username or password incorrect!</h5>
            {% endif %}

            <p>Username/Email:</p>
            <div class="form-group">
                {{ form.username }}
            </div>

            <p>Password:</p>
            <div class="form-group">
                {{ form.password }}
            </div>

            <br>

            <input type="submit" value="Login" class="btn btn-info"/>
        </form>

    </div>

{% endblock %}
