{% extends 'base.html' %}

{% block content %}

    <h2>Register</h2>

    <div class="container col-md-5">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}

            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <br>

            <input class="btn btn-primary" type="submit" value="Register"/>

        </form>

    </div>

{% endblock %}