{% extends "base_generic.html" %} {% block title %} Books List {%endblock %} {% block content %}
<h1>Book List</h1>
{%if perms.catalog.can_mark_returned%}<a href="{%url 'book-create'%}">Create</a>{%endif%}
{% if book_list %}
<ul>
    {% for book in book_list %}
    <li>
        <a href="{{book.get_absolute_url}}">{{book.title}}</a>({{book.author}})
        {% if perms.catalog.can_mark_returned %}
            <a href="{%url 'book-update' pk=book.pk%}">Update</a> <a href="{%url 'book-delete' pk=book.pk%}">Delete</a>
        {% endif %}
    </li>
    {%endfor%}
    <!--<li>{{some_data}}</li>-->
</ul>
{% else %}
<p>There are no books in the library.</p>
{% endif %}
{% endblock %}