<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->

    <div>
        <ul class="breadcrumb" >
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Search</a>
            </li>
        </ul>
    </div>

    <div class="row">

        <!-- customize search starts -->
        <div class="box col-md-12">
            <div class="box-inner">

                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-search"></i> Search the properties that suit you!</h2>

                    <div class="box-icon">
                        <i class="glyphicon glyphicon-star-empty"></i>
                    </div>
                </div>

                <div class="box-content" >
                    <!-- put your content here -->

                    <form role="form">

                       <div class="form-group">
                            <label>Location</label>
                            <input id="autocomplete" class="form-control" placeholder="Choose location or any"
                                   onFocus="geolocate()" type="text"/>
                        </div>

                        <div class="form-group">
                            <input type="text" ng-autocomplete class="form-control" id="route" placeholder="Route"  ng-model="filterCriteria.route"/>
                            <input type="text" ng-autocomplete class="form-control" id="locality" placeholder="City" ng-model="filterCriteria.city"/>
                            <input type="text" ng-autocomplete class="form-control" id="administrative_area_level_1" placeholder="State" ng-model="filterCriteria.state"/>
                            <input type="text" ng-autocomplete class="form-control" id="country" placeholder="Country" ng-model="filterCriteria.country"/>
                        </div>


                        <div class="form-group">
                            <label>Type</label>
                            <select ng-model="filterCriteria.kind" class="form-control" ng-options="kind.index as kind.value for kind in kinds">
                                <option value="">Please Select an Option</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Max Price</label>
                            <input type="number" step="1" class="form-control" placeholder="Price($)" ng-model="filterCriteria.max_price"/>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default" ng-click="search()">Search</button>
                        </div>

                    </form>
                    <!-- End customize search -->

                </div>
            </div><!-- /box-inner -->

        </div>
    </div><!--/row-->
</div>