 {% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
</head>
<div class="jumbotron text-center">
    <h1><strong>Sign Up</strong></h1>
</div>

<div class="container">
    <div style="width:40%; margin-left: 30%">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary" style="width: 100%">
                Signup
            </button>
          {% endbuttons %}
      </form>
    <h1>{{ error }}</h1>
    </div>
</div>

 <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2010",
    });
  });
</script>
